@charset 'utf-8';
.navbar-inverse .navbar-brand ,.navbar-inverse .navbar-nav>li>a{
  color: #4E4F51;
  line-height: 30px;
}
.navbar-inverse .navbar-brand:hover ,.navbar-inverse .navbar-nav>li>a:hover{
  color: #0e8bec;
}
.navbar-inverse .navbar-brand span{
    color: #4E4F51;
}
.navbar-inverse .navbar-brand i{
        float: left;
    font-size: 40px;
    line-height: 30px;
    color: #238BF6;
}
.blue {
    color: #5289E9;
}

.container {
    padding: 20px 0 0;
    width: 1080px;
}

.simcenter {
    width: 300px;
    margin: 65px auto;
}

.simcenter .button {
    display: block;
    width: 100%;
    height: 3em;
    line-height: 3em;
}

.simcenter .button:hover {
    color: #FFF;
    text-decoration: none;
}

button, .button {
    border: 0;
    margin: 0;
    color: #FFF;
    background: #0E8BEC;
    text-align: center;
    text-decoration: none;
}

.inputbox {
    position: relative;
}

.inputbox i {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: url("../../images/login/icon.png") no-repeat 50% 0px;
}

.usernamebox i {
    background-position: 50% 9px;
}

.passwordbox i {
    background-position: 50% -64px;
}

.invitecodebox i {
    background-position: 50% -138px;
}

.paypasswordbox i {
    background-position: 50% -505px;
}

.usernamebox select.country-code {
    display: block;
    position: relative;
    float: left;
    width: 93px;
    height: 40px;
    padding: 0 20px 0 10px;
    line-height: 40px;
    border: 1px solid #A3A3A3;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background: url("../../images/buydown.png") no-repeat 70px 15px;
    border-right: 0;
}

input {
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: solid #A3A3A3 1px;
    background: none;
}

.warning {
    padding: 15px 0 0;
    color: #999;
}

.warning i {
    float: left;
    width: 20px;
    height: 20px;
    background: #f4585b;
    color: #FFF;
    font-style: normal;
    border-radius: 10px;
    margin-right: 5px;
    text-align: center;
}

.warning i:after {
    content: " ! ";
}

.formbox {
    padding: 15px 0;
}

/*header*/
.navbar-brand {
    height: none;
    padding: 10px;
}

.navbar-brand > img {
    display: inline-block;
}

.nav li:hover a:before, .nav li:hover a:after {
    display: none;
}

.nav .dropdown-menu li {
    float: none;
}

.header .main-nav .nav.open a {
    background: none;
}

.header .main-nav .nav .dropdown-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    border: none;
    text-transform: none;
    min-width: 180px;
    background: #253340;
}

.header .main-nav .nav .dropdown-menu:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #253340;
    position: absolute;
    right: 30px;
    top: -10px;
}

.header .main-nav .nav .dropdown-menu a {
    border-bottom: 1px solid #212e3a;
    padding: 8px 20px;
    color: #fff;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.header .main-nav .nav .dropdown-menu a:hover {
    background: #2e4050;
    color: #fff;
}

/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background: none;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background: rgba(0, 0, 0, .5);
}

/*end header*/
.bd-inner {
    margin-top: 0;
    background: url("../../images/login/bg.png") no-repeat 50% bottom;
    background-size: cover;
    color: #666;
}

.login-title {
    position: relative;
    color: #0E8BEC;
    font-size: 28px;
    font-weight: lighter;
}

.login-title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    width: 40px;
    height: 0;
    border-bottom: solid #0E8BEC 1px;
}

.simcenter .formbox .inputbox {
    margin: 5px 0 15px;
}

.formbox input[type="password"], .formbox input[type="text"], .formbox input[type="button"] {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 40px 0 10px;
}

.formbox input[type="password"] {
    width: 300px;
    padding: 0 40px 0 10px;
}

.usernamebox input[type="text"] {
    width: 205px;
}

.vcodebox input[type="text"] {
    display: inline-block;
    width: 166px;
}

.vcodebox input[type="button"] {
    display: inline-block;
    width: 120px;
    padding: 0 5px;
    margin-left: 10px;
}

.formbox .checker {
    padding: 10px 0;
}

.formbox .checker a {
    float: right;
}

.formbox #input-captcha {
    display: inline-block;
    width: 166px;
    margin-right: 28px;
}
#capbox{
    position: relative;
    float: right;
    display: block;
    height: 40px;
}
#capbg{
    position: absolute;
    top:0;
    left: 0;
}
.nicknamebox #nickname {
    width: 220px;
}

.nicknamebox i {
    width: 60px;
    border: solid #CCC 1px;
    background-position: 50% -284px;
    cursor: pointer;
}

.emailbox i {
    background-position: 50% -648px;
}

.formbox .required {
    color: #D25247;
    padding-right: 5px;
}

.simcenter .inputbox {
    position: relative;
}

.simcenter .inputbox .prompt {
    display: none;
    position: absolute;
    top: 10px;
    left: 310px;
    width: 350px;
    color: #EB4242;
}

.successbox h3 {
    text-align: center;
}

i.success {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #53BE01;
    color: #FFF;
    font-size: 30px;
    line-height: 60px;
    font-style: normal;
    font-family: "Microsoft Yahei";
    font-weight: lighter;
    text-align: center;
}

i.success:after {
    content: "√"
}

.successbox #goindex {
    width: 50%;
    margin: 10px auto;
}

.successbox .deadline {
    text-align: center;
}

.successbox .brline {
    width: 560px;
    height: 1px;
    margin: 15px 0 20px;
    margin-left: -130px;
    background: #ccc;
    background: -webkit-linear-gradient(left, rgba(204, 204, 204, 0), rgba(204, 204, 204, 1), rgba(204, 204, 204, 0)); /* Safari 5.1 - 6 */
    background: -o-linear-gradient(right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 1), rgba(204, 204, 204, 0)); /* Opera 11.1 - 12*/
    background: -moz-linear-gradient(right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 1), rgba(204, 204, 204, 0)); /* Firefox 3.6 - 15*/
    background: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(204, 204, 204, 1), rgba(204, 204, 204, 0)); /* 标准的语法 */
}

.successbox ol {
    padding: 15px 0;
}

.successbox ol li {
    list-style: decimal;
    margin-left: -5px;
}

.password em.warning {
    position: relative;
}

em.warning div {
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    padding: 5px;
    margin-top: -20px;
    background: #F1F1F1;
    color: #999;
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    display: none;
}

em.warning div:after {
    position: absolute;
    top: 50%;
    left: -20px;
    width: 0;
    height: 0;
    margin-top: -12px;
    content: " ";
    border: transparent solid 10px;
    border-right-color: #F1F1F1;
}

em.warning p.ok {
    color: #999;
}

em.warning p.ok:before {
    content: "√ ";
    color: #35D33A;
}

em.warning p.no {
    color: #FB0209;
}

em.warning p.no:before {
    content: "× ";
}

.formbox .password em.warning{
  left: 315px;
  top: -20px;
}
