@charset 'utf-8';
.detail{
  padding: 15px;

 }
.detail h3{
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  border-left: #333 solid 4px;
  margin-bottom: 10px;
}

.detail ul{
  padding: 0 10px;
}
.detail ul li{
  padding: 20px 10px;
  border-bottom: #EEE solid 1px;
}
.detail li p {
  font-size: 14px;
  line-height: 35px;
  height: 35px;
}
.detail li p span{
  float: left;
  width: 32px;
  height: 35px;
  margin-right: 15px;
  background-image: url("../../images/user/safety_icon.png");
  background-repeat: no-repeat;
}
.detail li p.telphone span{
  background-position: 50% 0;
}
.detail li p.paypassword span{
  background-position: 50% -80px;
}
.detail li p.loadpassword span{
  background-position: 50% -160px;
}
.detail li p.securityquestion span{
  background-position: 50% -238px;
}
.detail li p.setemail span{
  background-position: 50% -319px;
}
.detail li p.setaddress span{
  background-position: 50% -396px;
}
.detail li p.artificial span{
  background-position: 50% -465px;
}
.detail li p b{
  float: left;
  width: 25%;
}
.detail li p button,.detail li p .button{
  float: right;
  margin: 5px;
  line-height: 18px;
    width: 70px;
    padding: 5px 0;
}
.detail li p button.Modify,.detail li p .Modify{
 width: auto ; padding: 5px 20px;
}
.detail li p em{
  float: left;
  width: 57%;
  overflow:hidden; 
  white-space:nowrap;
  text-overflow:ellipsis;
  color: #999;
}

.detail .title{
  margin: 20px 10px 0;
  padding: 20px 10px;
  text-align: center;
  font-size: 16px;
  border-bottom: #EEE solid 1px;
}
.detail div.warning{
  padding: 10px;
}
/*needpassword*/
.page-content .a-wrap{
  margin-left: 0;
}
/*setpassword*/
.detail .message{
  padding: 10px 30px;
  font-size: 16px;
}
.setpassword p{
  text-align: center;
  margin: 20px;
  font-size: 14px;
}
.setpassword p span{
  text-align: right;
  display: inline-block;
  width: 110px;
  margin-right: 10px;
}
.setpassword button,.emailok .button{
  margin: 10px auto;
  padding: 10px 40px;
}
/**/
.alertInputBox{ padding: 20px 0;}
.alertInputBox div{
  text-align: center;
  margin: 10px auto;
  font-size: 14px;
}
.alertInputBox div span{
  text-align: right;
  display: inline-block;
  width: 150px;
  margin-right: 10px;
}
.alertInputBox div input,.question-box div select{ 
  width: 250px;
  padding: 10px;
}
.alertInputBox div p.warning{
  margin-bottom: 10px;
  color:#FB0209;
}
.alertInputBox .vcode input[type="text"],.alertInputBox .new-vcode input[type="text"]{
  width:115px; 
}
.alertInputBox .captcha input[type="text"]{
  width: 145px;
}
.alertInputBox .vcode input[type="button"],.alertInputBox .new-vcode input[type="button"],.get-emaillink{
  width:120px; 
  margin-left: 10px;
  color: #0D8BED;
  outline: none;
  border: #999 solid 1px;
  padding: 10px 0;
  background: none;
}
.alertInputBox div em{
  display: inline-block;
  font-style: normal;
  padding: 10px;
  width: 90px;
  text-align: left;
}
.alertInputBox div a{
  color: #0D8BED;
}
.alertInputBox button{
  padding: 10px 65px;
}
.alertBox .alertFloor{
  text-align: center;
  color: #999;
}

.alertInfoBox{ 
  text-align: center;
  padding-top: 20px;
}
.alertInfoBox h3,.moudle h3{ 
  padding:10px 0 20px;
  font-size:18px; 
}
.alertInfoBox button{
    margin-bottom:20px; 
    padding:10px 50px;
}
.alertInputBox .taber{
  margin-bottom: 15px;
  display:flex;
}
.alertInputBox .taber div{
  position:relative;
  overflow: hidden;
  text-align: center;
  height: 40px;
  color: #999;
  flex:1;
}
.alertInputBox .taber div:before{
  position: absolute;
  bottom: 9px;
  right: 0;
  content: "";
  width: 100%;
  height: 0;
  border-bottom: #999 solid 1px;
}
.alertInputBox .taber div:first-child:before{
  width: 50%;
}
.alertInputBox .taber div:last-child:before{
  width: 50%;
  right: none;
  left:0;
}
.alertInputBox .taber div:after{
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 12px;
  content: "";
  border: #FFF solid 3px;
  border-radius: 9px;
  background: #999;
}
.alertInputBox .taber div.active{
  color: #0D8BED;
}
.alertInputBox .taber div.active:after{
  background:#0D8BED;
}
.alertInputBox .moudle .title{
  text-align: left;
  margin: 10px 30px;
  text-indent: 30px;
}
.question-box div div{ margin: 15px 0;}
.question-box div select{
  display: inline-block;
  width: 240px;
  height: 36px;
  background: #FFF;
  padding: 0;
}
.question-box div b.question{
  display: inline-block;
  width: 240px;
  text-align: left;
}
#alertAddBox {
  padding-top: 5px;
}
#alertAddBox .title{
  text-align: left;
  margin: 10px 30px;
  font-size: 16px;
}
.alertInfoBox .table_div,.alertInfoBox #pagers{
  margin-bottom: 20px;
}
.alertInfoBox .tr_box{
    height: 280px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.alertInfoBox .table_div .tr_div,.alertInfoBox .table_div .th_div{
  padding:10px 20px;
  display:flex;
}
.alertInfoBox .table_div .th_div{
  padding: 5px 20px;
  background: #EEE;
}
.alertInfoBox .table_div .tr_div:hover{
  box-shadow: #666 0 0 3px;
}
.alertInfoBox .td_div{
  text-align: left;
  line-height: 27px;
  flex:1;
}
.alertInfoBox .address{
  flex:2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.alertInfoBox .tr_div a{
  margin: 0 5px;
  color: #0D8BED;
  text-decoration: none;
}
.alertInfoBox .tr_div button{
  float: left;
  margin-bottom: 0;
  padding: 5px 10px;
  display: none;
}
.alertInfoBox .tr_div em.button{
  margin-bottom: 0;
  padding: 5px 10px;
  background: #FA7272;
}
.alertInfoBox .tr_div:hover button{
  display: block;
}
.newPhoneNum select{
  height: 38px;
  background: #FFF;
  width: 65px;
}
.newPhoneNum input[type="text"]{
  width: 150px;
}