@charset 'utf-8';
/********************************  base ************************/
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border: 0 none; }
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 {  font-weight:normal; }
button ,a{ cursor: pointer; }
i, em, cite { font-style: normal; }
body {
  font: 12px/1.231 "PingFang SC","Hiragino Sans GB",'Microsoft YaHei',arial, helvetica,"\5b8b\4f53", sans-serif;
  color: #4E4F51;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1170px;
}
a{
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
/************************* box尺寸定义 *******************/
.warp {
    width: 100% ;
    min-width: 1200px;
}
.text-center{
    text-align: center;
}

/************************* 通用 *******************/
.fontshrink{-webkit-text-size-adjust:none;-webkit-transform:scale(0.8);-o-transform:scale(1); display:inline-block}
/*********** 自动截断，省略为...，需要设定宽度 ********/
.jieduan{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*********** 清除浮动 ********/
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0; }
.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}

/*模态弹出层*/
#alertbg {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9999998;
    background: rgba(0,0,0,.5);
}
#alertWrap {
    position: fixed;
    width: 360px;
    z-index: 9999998;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:2px;
}
#alertWrap .alert-bg{
    width: 100%;
    height: 30px;
    background:#262F37;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size:14px;
    color:#fff;
    text-align:center;
    line-height:30px;
}
#alertWrap .alert-bg .alert-closer{
    float: right;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: lighter;
    font-style: normal;
    cursor: pointer;
}
#alertWrap .alert-box{
    background-color: #fff;
    padding: 0  0 20px 0;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#alertWrap .alert-text{
    min-height:80px;
    letter-spacing: 1px;
    padding: 10px 40px;
    font-size: 14px;
    line-height:1.5;
}
#alertWrap .alert-icon{
    display: block;
    width: 40px; 
    height: 40px;
    margin: 30px auto 0;
    border-radius: 22px;
    font-size: 30px;
    line-height:40px;
    font-style: normal;
    font-family: "Microsoft Yahei";
    font-weight: lighter;
    text-align: center;
}
#alertWrap i.alert-success{
    background: #53BE01;
    color: #FFF;
}
#alertWrap i.alert-success:after{
    content: "√"
}
#alertWrap i.alert-warning{
    background: transparent;
    border:#FD2D3F solid 2px; 
    color: #FD2D3F;
}
#alertWrap i.alert-warning:after{
    content: "!"
}
/*常用按钮样式*/
.btn-default-blue{
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding:0 15px;
    color:#fff;
    font-size: 18px;
    text-align: center;
    background-color: #0877cd;
    background-image:-webkit-linear-gradient(top,#0e88e7,#0164b3);
    background-image:-moz-linear-gradient(top,#0e88e7,#0164b3);
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    cursor: pointer;
}
.alert-box .top20{
    text-align: center;
}
.btn-default-black{
    display: inline-block;
    width:160px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    color:#fff;
    font-size: 14px;
    text-align: center;
    background-color:#0877cd;
    border-radius:2px;
    border: none;
    cursor: pointer;
    padding:0;
}
.btn-default-gray{
    display: inline-block;
    width:160px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    color:#fff;
    font-size: 14px;
    text-align: center;
    background-color:#0E8BEC;
    border-radius:2px;
    border: none;
    cursor: pointer;
    padding:0;
}
.mid-btn{
    width:120px;
}
.mid-btn-cancel-color{
    background:#5A5A5A;
}
.btn-default-black:hover{
    opacity:0.9;
    color: #ddd;
}
.text-center{
    text-align:center;
}

/* btn and modal -- from bootstrap*/
.form-group {
    margin-bottom: 15px;
}
.btn {
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
.btn.focus, .btn:focus, .btn:hover {
    color:#FFF;
    text-decoration:none
}
.btn.active, .btn:active {
    background-image:none;
    outline:0;
    -webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125)
}
.close {
    float:right;
    font-size:21px;
    font-weight:700;
    line-height:1;
    color:#000;
    text-shadow:0 1px 0 #fff;
    filter:alpha(opacity=20);
    opacity:.2
}
.close:focus, .close:hover {
    color:#000;
    text-decoration:none;
    cursor:pointer;
    filter:alpha(opacity=50);
    opacity:.5
}
button.close {
    -webkit-appearance:none;
    padding:0;
    cursor:pointer;
    background:0 0;
    border:0
}
.safe-tip-modal {  
    background: rgba(0, 0, 0, 0.5);
}
.modal-open {
    overflow:hidden
}
.modal {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    display:none;
    overflow:hidden;
    -webkit-overflow-scrolling:touch;
    outline:0
}
.modal {
    background: rgba(0, 0, 0, 0.5);
}
.modal.fade .modal-dialog {
    -webkit-transition:-webkit-transform .3s ease-out;
    -o-transition:-o-transform .3s ease-out;
    transition:transform .3s ease-out;
    -webkit-transform:translate(0, -25%);
    -ms-transform:translate(0, -25%);
    -o-transform:translate(0, -25%);
    transform:translate(0, -25%)
}
.modal.in .modal-dialog {
    -webkit-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
    -o-transform:translate(0, 0);
    transform:translate(0, 0)
}
.modal-open .modal {
    overflow-x:hidden;
    overflow-y:auto
}
.modal-dialog {
    position:relative;
    width:auto;
    margin:10px
}
.modal-content {
    position:relative;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #999;
    border:1px solid rgba(0, 0, 0, .2);
    border-radius:6px;
    outline:0;
    -webkit-box-shadow:0 3px 9px rgba(0, 0, 0, .5);
    box-shadow:0 3px 9px rgba(0, 0, 0, .5)
}
.modal-backdrop {
    position:absolute;
    top:0;
    right:0;
    left:0;
    background-color:#000
}
.modal-backdrop.fade {
    filter:alpha(opacity=0);
    opacity:0
}
.modal-backdrop.in {
    filter:alpha(opacity=50);
    opacity:.5
}
.modal-header {
    min-height:16.43px;
    padding:15px;
    border-bottom:1px solid #e5e5e5
}
.modal-header .close {
    margin-top:-2px
}

.modal-footer .btn+.btn {
    margin-bottom:0;
    margin-left:5px
}
.modal-footer .btn-group .btn+.btn {
    margin-left:-1px
}
.modal-footer .btn-block+.btn-block {
    margin-left:0
}
.modal-scrollbar-measure {
    position:absolute;
    top:-9999px;
    width:50px;
    height:50px;
    overflow:scroll
}
@media (min-width:768px) {
    .modal-dialog {
        width:600px;
        margin:30px auto
    }
    .modal-content {
        -webkit-box-shadow:0 5px 15px rgba(0, 0, 0, .5);
        box-shadow:0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width:300px
    }
}
@media (min-width:992px) {
    .modal-lg {
        width:900px
    }
}

.index-safe-tip-option{
  padding-left: 99px;
  text-align: left;
}
.index-safe-tip-option label{
  font-size: 12px;
  color: #666;
}
.index-safe-tip-option input{
  margin-right: 5px;
}
.safe-tip-modal .modal-title{
  background: #262f37;
  text-align: center;
}
.safe-tip-modal .btn{
  background: #5a5a5a;
  margin-right: 10px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.safe-tip-modal a.btn{
  background: #0e8bec;
}
