@charset 'utf-8';

.warper{width:1170px; margin:0 auto; }
.underline{
  text-decoration: underline;
}
/* modal-dialog */
.modal-header{
    padding: 0;
}
.modal-title{
    background: #262f37;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius:6px 6px 0 0;
}
.close{
    margin-right: 10px;
    line-height: 30px;
}
.btn-dialog-confirm{
    background: #1a8feb;
    display:inline-block;
    border: none;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #FFF;
}
.btn-dialog-cancel{
    background: #898989;
    display: inline-block;
    margin-left: 10px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}
.btn-dialog-confirm:hover,.btn-dialog-confirm:active, .btn-dialog-cancel:hover,.btn-dialog-cancel:active{
    text-decoration: none;
    color: #FFF;
}
.modal-sm{
    width: 320px;
}
.btn-get-vcode{
    background: #f0f3f5;
    border: 1px solid #b3b3b3;
    padding: 5px 10px;
    line-height: 22px;
    font-size: 14px;
}

.input-vcode{
    margin-right: 10px;
    width: 60px;
    height: 30px;
}
/*fixed_topper*/
.fixed_topper{
    width: 100%;
    z-index: 100;
    margin-bottom: 20px;
    border-bottom: #EAEAEA solid 1px;
}
/*toper*/
.toper{
  background: #1E2229;
  font-size: 12px;
  line-height: 19px;
  color: #7A8286;
  text-align: left;
}
.toper .topbar-price{
  float: left;
  padding: 5px 0;
}
.topbar-user{
    position: relative;
    float: right;
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
}
.topbar-user .icon-headphoto{
  float: left;
  font-size: 24px;
}
.topbar-user:hover{
    background: #f1f3f6;
    color: #161616;
}
.topbar-user .arrow{
    display: inline-block;
    width: 29px;
    height: 29px;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    transition: transform .5s;
    transform-origin:50% 50%;
    transform:rotateZ(90deg);
    vertical-align: top;
}
.topbar-user:hover .arrow{
    transform:rotateZ(-90deg);
}
.topbar-user .arrow .iconfont{
  font-size: 14px;
}
.topbar-user-detail{
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    background: #f1f3f6;
    padding: 5px;
    width: 260px;
    line-height: 20px;
    color: #514e4e;
    z-index: 99;
}
.topbar-user:hover .topbar-user-detail{
    display: block;
}
.topbar-user-detail-title{
    float: left;
    width: 66px;
    text-align: center;
}
.topbar-user-detail-title span{
    display: inline-block;
    background: #0E8BEC;
    width:60px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align:center;
    color:#fff;
}
.topbar-user-detail-content{
    float: left;
}
.topbar-logout{
    float: right;
    padding: 5px 10px;
}
.topbar-logout a{
    color: #7A8286;
    text-decoration: none;
}
.topbar-logout a:hover{
    color: #FFF;
}
/*GAIA-1162个人中心指标说明样式和飘窗*/
.topbar-user-detail-padnone{
  padding:0;
  width:280px;
}
.topbar-user-detail-top{
  width:260px;
  float:left;
  padding:5px 10px 0;
}
.topbar-user-detail-bot{
  width:260px;
  float:left;
  padding:5px 10px;
  border-top:1px solid #E4E4E4;
}
.topbar-user-detail-content2 p{
  float:left;
}
.opt-tips{
  position:relative;
  float:left;
  width:16px;
  height:16px;
  line-height:16px;
  text-align:center;
  border-radius:50%;
  background:#9899a2;
  color:#fff;
  margin:1px 0 0 10px;
  cursor:pointer;
}
.opt-tips:hover .opt-tips-modal{
  display:block;
}
.opt-tips-modal{
  display:none;
  position:absolute;
  left:36px;
  top:-15px;
  width:196px;
  padding:10px 5px;
  background:#fff;
    color: #000;
  text-align:left;
}
.opt-tips-modal-icon{
  position:absolute;
  left:-14px;
  top:14px;
  width: 0;
  height: 0;
  border-right:14px solid #fff;
  border-top:8px solid transparent;
  border-bottom:8px solid transparent;
}
.topbar-user-detail-bot .topbar-user-detail-deducted:first-child{
  width:100%;
  float:left;
  margin-bottom:10px;
}
/*header*/
.header{
    background: transparent;
    transition: all .5s;
}
.header,.header a{
    color: #333;
}
.index_logo{
    float: left;
    font-size: 20px;
    line-height: 30px;
    padding: 25px 0;
    transition: padding .5s;
}
.index_logo i{
    float: left;
    width: 36px;
    height: 30px;
    color: #238BF6;
    font-size: 40px;
    line-height: 30px;
    margin-right: 5px;
}
.header .container .topbar-price{ 
    text-align: right;
    line-height: 30px;
    padding: 25px 0;
    transition: padding .5s;
}
.new-btc-price,.new-mg-price{
    padding: 0 10px;
}
.topbar-price i{
  font-style: normal;
  padding: 0 10px; 
  opacity: .3;
}
.header .container .btn{
    float: right;
    padding: 3px 15px;
    background: #238BF6 ;
    color: #FFF;
    text-decoration: none;
    border-radius: 14px;
    margin-top: 25px;
    transition: margin-top .5s;
}
.header .container .btn a{
  color: #FFF;
}
/*nav*/
.header .nav{
  float: right;
  position: relative;
}
.header .nav #ibar{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #238BF6;
}
.header .nav li{
  float: left;
}
.header .nav li.active a{
  color: #238BF6;
  opacity: 1;
}
.header .nav li.active div a {
  color: #666;
}
.header .nav a{
    position: relative;
    display: block;
    padding:25px 15px;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
    transition: padding .5s;
    font-weight: bold;
    opacity: .7;
}
.nav a i{
    position: absolute;
    top: 25px;
    right: 5px;
    width: 8px;
    height: 8px;
    text-align: center;
    line-height: 15px;
    background: #F33;
    color: #FFF;
    border-radius: 50%;
    transition: top .5s .1s;
}
.header .nav a:hover{
    text-decoration: none;
}
.nav li.hov a{
  color: #238BF6;
  opacity: 1;
}
.nav li .navigation_bar{
  position: absolute;
  top:74px;
  left: 50%;
  min-width: 100px;
  transform:translate(-50%);
  background: #FFF;
  color: #666;
  border-radius: 3px;
  overflow: hidden;
  z-index: 11;
  box-shadow: #666 0 0 1px;
  transition: top .5s;
  display: none;
}
.nav li .navigation_bar a,.to-narrow .nav li .navigation_bar a{
  padding: 5px 15px 5px 10px;
  color: #666;
}
.header .nav li .navigation_bar a:hover{
  background: #E4EFFF;
  color: #2A91E9 ;
}

/*footer*/
.footer {
    width: 100%;
    padding: 100px 0 50px;
    background: #353840;
    font-size: 14px;
    color: #7A8286;
    text-align:left;
}
.footer-copyright{
    padding: 50px 0 0;
    text-align: center;
}
.footer-copyright a,.footer-copyright  a:visited{
    color: #7A8286;
}
.footer-moudle{
  position: relative;
  float: left;
  width: 180px;
  min-height: 200px;
  margin-right: 100px;
}
.footer-moudle h4{
  border-bottom: #3C4048 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.footer-moudle a{
  color: #7A8286;
  text-decoration: none;
  line-height: 1.65;
}
.footer-moudle a:hover{
  color: #FFF;
}
.footer-logo{
  float: right;
  padding: 20px 100px;
  border-left: #3C4048 solid 1px;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}
.footer-logo i{
  display: block;
  font-size: 70px;
}
.footer .language{
  position: absolute;
  bottom: 0;
  width: 200px; 
  height: 28px;
  line-height: 28px;
  color: #FFF;
  font-size: 12px;
  text-indent: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.footer .language:hover{
  color: #FFF;
}
.language .arrow-down {
  float: right;
  width:28px; 
  height:28px; 
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  text-indent: 0;
  transition: transform .5s;
  transform-origin:50% 50%;
  transform:rotateZ(90deg);
}
.language:hover .arrow-down {
  transform:rotateZ(-90deg);
}
.footer .language ul{
  position: absolute;
  bottom: 28px;
  width: 200px;
  height: 86px;
  background: #1d2022;
  color: #7b7e89;
  display: none;
  line-height: 28px;
}
.footer .language:hover ul{
  display: block;
}
.footer .language ul li{
  position: relative;
  background: #1d2022;
}
.footer .chainlogo{
  background:#5F6471 url('../../v6/images/china_bg.png') no-repeat 11px 6px;
  background-size: 11%; 
}
.footer .hklogo{
  background:#5F6471 url('../../v6/images/hk_bg.png') no-repeat 11px 6px;
  background-size: 11%; 
}
.footer .usalogo{
  background:#5F6471 url('../../v6/images/usa_bg.png') no-repeat 11px 6px;
  background-size: 11%; 
  margin-top: 45px;
}
.footer .language img{
  width: 20px;
  height: 14px;
  position: absolute;
  top: 6px;
  left: 11px;
}
.footer .language ul a{
  text-decoration: none;
  line-height: 28px;
  display: block;
  color: #7b7e89;
}
.footer .language ul li a:hover{
  color: #fff;
}
.footer .language ul .language_active{
  background:#2a2e31 url('../../v6/images/language_ok.png') no-repeat 180px 6px;
  background-size: 6%; 
}
/*时区*/
.app-pop{
    z-index:99;
    position: fixed;
    right:0;
    top:300px;
    width: 50px;
}
.app-pop .app-pop-nav{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 10px 0 0;
    background:rgba(14,139,236,1);
    color: #FFF;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    /*font-weight: lighter;*/
    text-decoration: none;
}
.app-pop .app-pop-nav em{
    display: none;
}
.app-pop .app-pop-nav i{
    display: block;
    width: 40px;
    height: 40px;
    background:url("../images/icon_time.png") no-repeat 50% 50%;
}
.app-pop .app-pop-nav:first-child i{
    background-image:url("../images/icon_APPdownload.png");
}
.app-pop .app-pop-nav.active{
    cursor: default;
    background: rgba(14,139,236,.8);
}
.app-pop .app-pop-nav.active em,.app-pop .app-pop-nav:hover em{
    display: block;
}
.app-pop .app-pop-nav.active i,.app-pop .app-pop-nav:hover i{
    display: none;
}
.app-pop .app-pop-nav .app-pop-box{
    display: none;
    position: absolute;
    top:0;
    left: -185px;
    width: 170px;
    min-height: 200px;
    background: #FFF;
    border: #CCC solid 1px;
    color: #333;
}
.app-pop .app-pop-nav .app-pop-time{
    left: -215px;
    width: 200px;
}
.app-pop .app-pop-nav .app-pop-box:after{
    display: block;
    position: absolute;
    top:15px;
    right: -8px;
    content: "";
    width: 12px;
    height: 12px;
    background: #FFF;
    border: transparent solid 1px;
    border-right:#CCC solid 1px;
    border-top:#CCC solid 1px;
    transform: rotateZ(45deg);
}
.app-pop-tip b{
    display: inline-block;
    width: 66px;
    height: 22px;
    margin: 10px 5px 5px; 
    color: #328ED9;
    border: #328ED9 solid 1px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    /*font-weight:lighter;*/
    background: #FFF;
    cursor: pointer;
    float: left;
}
.app-pop-tip .marlef10{
  margin-left: 10px;
}
.app-pop-tip b:hover{
    background: #F1F1F1;
}
.app-pop-tip b.active{
    background: #0E8BEC;
    color: #FFF;
    cursor: default;
}
.app-pop-tip b strong{
    display: inline-block;
    width: 17px;
    height: 22px;
    margin-right: 2px;
    background: url(../images/topbar-app.png) no-repeat;
}
.app-pop-tip .android strong{
    background-position: 0 -93px;
}
.app-pop-tip .ios strong{
    background-position: -42px -93px;
}
.app-pop-tip .android.active strong{
    background-position: 0 -70px;
}
.app-pop-tip .ios.active strong{
    background-position: -42px -70px;
}
.app-pop-tip img {
    width: 60%;
    height: auto;
    margin: 10px auto 0;
}
.app-pop-tip div{
    padding-bottom: 10px;
    color:#999;
}
.app-pop-tip p {
    padding: 5px;
    border-top:  #CCC solid 1px;
}
.app-pop-tip p span{
    display: block;
    width: 100%;
    color:#52ABEE;
    cursor: pointer;
}
.app-pop-tip p span:hover{
    text-decoration: underline;
}
.app-pop-time div{
    padding: 10px;
    text-align: left;
}
.app-pop-time div b{
    font-size: 16px;
    display: block;
}
.app-pop-time div:first-child{
    border-bottom: #DDD solid 1px;
}
.app-pop-time div span{
    color: #999;
    font-size: 12px;
/*    word-break: break-word;
    word-wrap: break-word;*/
}
.app-pop-time button{
    display: block;
    width: 90%;
    padding: 10px 0;
    margin: 0 auto 15px; 
    border: none;
    background: #0D8BED;
    text-align: center;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
}
#UTCList{
    width: 100%;
    max-width: 420px;
    margin: 5px auto 0;
    background: url(http://ourjs.github.io/static/2015/arrow.png) right center no-repeat;
    border: solid 1px #ccc;
}
#UTCList select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    padding:10px 20px 10px 10px;
    width: 100%;
}
.changeTimeZone{
    width: 100%;
    max-width: 420px;
    margin: 25px auto 0;
    text-align: left;
}
.mg-recharge-modal .form-group{
    font-size: 20px;
    color: #000;
}
.mg-recharge-modal .modal-footer{
    text-align: center;
    border-top: none;
}
.mg-recharge-modal .btn{
    display: inline-block;
    width: 120px;
    border: none;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    padding: 0;
    font-size: 14px;
    background: #0E8BEC;
}
.utcStorage{
    position: fixed;
    top:0;
    left: 0;
    z-index: 98;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    color: #FFF;
}
.utcStorage img{
    position: absolute;
    top:400px;
    right: 270px;
}
.utcStorage p{
    position: absolute;
    top:420px;
    right: 470px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5em;
}
.utcStorage button{
    position: absolute;
    top:480px;
    right: 500px;
    font-size: 18px;
    height: 40px;
    padding: 0 30px;
    background: none;
    border: #FFF solid 2px;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
}
/*modal*/
.modal-open{overflow:hidden}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-content{position:relative;background-color:#FFF;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}.modal-backdrop{position:absolute;top:0;right:0;left:0;background-color:#000}.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}.modal-header{min-height:16.43px;padding:15px;border-bottom:1px solid #e5e5e5}.modal-title{margin:0;line-height:1.42857143}
.modal-body{position:relative;/*padding:15px 40px 20px 40px*/}
.modal-footer{padding:15px;text-align:right;/*border-top:1px solid #e5e5e5*/}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
@media (min-width:768px){
  .modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
  .modal-sm{width:300px}}@media (min-width:992px){.modal-lg{width:900px}
}
.modal-dialog{
     position:absolute;
     left:50%;
     top:50%;
     transform:translate(-50%,-50%);
     -webkit-transform:translate(-50%,-50%);
     -moz-transform:translate(-50%,-50%);  
}

.modal-header{
    padding: 0;
    border-radius:4px 4px 0 0;
}
.modal-title{
    background:#262F37;
    padding-left: 10px;
    height:30px;
    line-height:30px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius:4px 4px 0 0;
}
.btn-dialog-confirm{
    background: #0E8BEC;
    display:inline-block;
    border: none;
    width:120px;
    height:40px;
    line-height:40px;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
}
.btn-dialog-cancel{
    background: #5A5A5A;
    display: inline-block;
    margin-left: 10px;
    width:120px;
    height:40px;
    line-height:40px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.btn-dialog-confirm:hover,.btn-dialog-confirm:active, .btn-dialog-cancel:hover,.btn-dialog-cancel:active{
    text-decoration: none;
    color: #FFF;
}
.form-group{
   text-align:center;
   margin: 5px 0;
}
.min-height{
   min-height:90px;
     display:flex;
     justify-content:center;
     align-items: center;
     font-size:14px;
}
.modal-sm{
    width: 360px;
}