/*
 * by 杨祖健 20161201
*/
section{
  position: relative;
  padding: 80px 0 40px;
}
section .header3 {
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 100px;
  margin-bottom: 70px;
}
section .header3 > h3{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: #4E4F51 ;
  font-weight: 200;
}
section .header3 > h3 .iconfont{
  display: block;
  font-size: 30px;
  color: #238BF6;
  margin-bottom: 20px;
}
/*go-top*/
#back-to-top{
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 18px;
  background-color: rgba(35,139,246,1);
  color: #fff;
  z-index: 999;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: none;
  text-align: center;
}
#back-to-top:hover{
  background-color: rgba(35,139,246,.6);
}
#back-to-top i{
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  top:13px;
  left:10px;
  border-top: #FFF solid 2px;
  border-right: #FFF solid 2px;
  transform:rotate(-45deg);
}
/*header*/
.fixed_topper{
    position: fixed;
    border-bottom: 0;
}
.header,.header a{
    color: #FFF;
}
.to-narrow .header{
    background: #FFF;
    box-shadow: #999 0 0 1px;
}
.header .nav #ibar{
  background: #FFF;
}
.to-narrow .header,.to-narrow .header a{
    color: #4E4F51;
}
.to-narrow .index_logo{
    padding: 10px 0;
}
.to-narrow .container .topbar-price{
    padding: 10px 0;
}
.to-narrow .container .btn{
    margin-top: 10px;
}
.header .nav li.active a{
  color: #FFF;
  opacity: 1;
}
.to-narrow .header .nav a{
    padding: 10px 15px;
}
.to-narrow .nav a i{
  top:10px;
}
.to-narrow .header .nav #ibar{
    background: #238bf6;
}
.nav li.hov a{
  color: #FFF;
  opacity: 1;
}
.nav li.hov .navigation_bar a{
  color: #666;
}
.to-narrow .nav li.active a{
  color: #238bf6;
}
.to-narrow .nav li.hov a{
  color: #238bf6;
}
.to-narrow .nav li.active .navigation_bar a,.to-narrow .header .nav li.hov .navigation_bar a{
  color: #666;
}
.to-narrow .nav .navigation_bar{
  top:44px;
}
/* ======= flexslider ======= */
.flexslider{
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow:none;
}
.flex-control-nav{
  bottom: 20px;
  z-index: 2;
}
.flex-control-paging li a{
  width: 8px;
  height: 8px;
  background: none;
  border: #FFF solid 1px;
  box-shadow: none;
}
.flex-control-paging li a.flex-active{
  background: #FFF;
}
.flex-control-paging li a:hover {
  border: #238BF6 solid 1px;
  background: none;
}
/*notice*/
.notice-box{
  padding: 30px 0;
  border-bottom: #E6E6E6 solid 1px;
  margin-bottom: 10px;
}
.notice-box .warper{
  display: flex;
  line-height: 19px;
}
.notice-box .warper em{
  flex:1;
  border-right:  #E6E6E6 solid 1px;
  font-weight: bold;
  color: #4E4F51;
}
.notice-box .warper a{
  padding: 0 15px;
  color: #4E4F51;
  text-decoration: none;
  border-right:  #E6E6E6 solid 1px;
  flex:5;
}
.notice-box .warper a:hover{
  color: #2A91E9;
}
.notice-box .warper a i.red{
  color: #FF0E0E;
  font-size: 12px;
}
/*news*/
.more{text-align:right;padding: 7px;}
.more a{
  color: #238BF6;
  text-decoration: none;
  padding-right: 7px;
}
.more a:hover{
  text-decoration: underline;
}
.news-box a{
  float: left;
  display: inline-block;
  width: 32.33%;
  margin: 0.5%;
  color: #4E4F51;
  text-decoration: none;
}
.news-box a:hover{
  color: #238BF6;
  text-decoration: none;
}
.news-box a img{
  width: 100%;
  margin-bottom: 10px;
}
.news-box a span{
  display: block;
  color: #9A9CA4 ;
  margin-bottom: 5px;
}
.news-box a span i{
  font-size: 10px;
  padding-right: 5px;
}
/*Equipment*/
.product-section .header3{
 margin-bottom: 0;
}
.product-box{
  position: relative;
  width: 100%;
  height: 900px;
}
.product {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 900px;
  background: none;
}
.product .slides .slide{
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
}
.product .slides .slide img{
  position: absolute;
  left: 50%;
  width: auto;
  opacity: 0;
  transform:translateX(-50%);
  transition:all .5s ease-in;
}
.product .slides .flex-active-slide img{
  opacity: 1;
}
.product .slides .slide-a img{
  top:0px;
  width: 400px;
}
.product .slides .slide-b img{
  top:100px;
  width: 400px;
}
.product .slides .slide-c img{
  bottom:0px;
  width: 1000px;
}

.product .slides .infobox{
  position: absolute;
  left:50%;
  width: 320px;
  color: #FFF;
  text-align: center;
  line-height: 1.5em;
  opacity: 0;
}
.product .flex-active-slide .infobox{
  opacity: 1;
}
.product .slides .info-a,.product .slides .info-b{
  margin-left: -1000px;
}
.product .slides .info-c,.product .slides .info-d{
  margin-left: 680px;
}
.product .slides .info-a,.product .slides .info-c{
  top:250px;
  transition:all .5s ease-in .3s;
}
.product .slides .info-b,.product .slides .info-d{
  /*bottom:350px;*/
  top:420px;
  transition:all .5s ease-in .6s;
}
.product .slides .info-e{
  top:0px;
  width: 600px;
  margin-left: -300px;
  transition:all .5s ease-in .3s;
}
.product .flex-active-slide .info-a,.product .flex-active-slide .info-b{
  margin-left: -500px;
}
.product .flex-active-slide .info-c,.product .flex-active-slide .info-d{
  margin-left: 180px;
}
.product .flex-active-slide .info-e{
  top:200px;
}
.product .slides .infobox h5{
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.slides li p.link-box{
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}
.product .slides .link-box a{
  display: inline-block;
  min-width: 110px;
  margin: 0 10px;
  padding: 0 30px;
  border: #FFF solid 1px;
  border-radius: 4px;
  color: #FFF;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
}
.product .slide-b .link-box a{
  min-width: 170px;
}
.product .slides .link-box a i{
  font-size: 26px;
  padding-right: 10px;
}
.product .slides .link-box a:hover{
  text-decoration: none;
  background: #FFF;
  color: #33ABD8;
}
.product-box .slide-bg{
  position: absolute;
  top:0;
  left: 0;
  margin-top: 150px;
  width: 100%;
  height: 750px;
  background: linear-gradient(120deg, #3291E0, #34C0D1);
}
.flex-direction-nav a{
  width: 60px;
  height: 60px;
  margin: 20px 0 0;
  text-shadow:none;
}
.flex-direction-nav a:before {
  color: #FFF;
  font-family:"iconfont" !important;
  font-size: 60px;
  line-height: 1;
  display: inline-block;
  content: "\e619";
}
.flex-direction-nav a.flex-next:before {
  content: "\e61a";
}
.flexslider:hover .flex-prev {
    opacity: 1;
    left: 30px;
}
.flexslider:hover .flex-next {
    opacity: 1;
    right: 30px;
}
/*M.A Blockchain*/
.blockchain .warper{
  display: flex;
}
.blockchain .box{
  position:relative;
  padding: 60px 40px 40px;
  text-align: center;
  flex:1;
  cursor: pointer;
  border-bottom: #D2D7E2 solid 1px;
}
.blockchain .box.active{
  background: #EDF0F7;
  /*border-bottom: #238BF6 solid 2px;*/
}
.blockchain .box.active::after{
	content:'';
	width:100%;
	height:2px;
	background:#238BF6;
	position:absolute;
	left:0;
	bottom:-1px;
}
.blockchain .box:hover{
  background: #F6F8FB;
}
.blockchain .box .icon{
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.blockchain .box h5{
  font-size: 18px;
  font-weight: bold;
  margin:10px auto;
}
.blockchain .box p{
  line-height: 2em;
}
.blockchain .explain-box{
  min-height:84px;
  padding: 20px 0 80px;
  line-height: 2em;
}
.blockchain .explain-box a{
  color: #238BF6;
  text-decoration: none;
}
/*video-box*/
.video-box{
  text-align: center;
  min-height:640px;
  background-size: cover;
  color: #FFF;
  background-position: 50% 50%;
}
.video-box .icon-video-play1{
  display: block;
  width: 120px;
  padding-top: 120px;
  font-size: 110px;
  margin: 0 auto;
  cursor: pointer;
  transform-origin:50% 75%;
  transition: transform .75s ease-out;
}
.video-box .icon-video-play1:hover{
  transform:scale(1.2,1.2);
}
.small-line{
  display: block;
  width: 60px;
  height: 1px;
  margin: 50px auto;
  background: #FFF;
}
.video-box p{
  width: 50%;
  margin: 0 auto;
  font-size: 24px;
}
/*memorabilia*/
.memorabilia .warper{
  position: relative;
  width: 1200px;
  overflow: hidden;
}
.memorabilia .moudles{
  height: 400px;
}
.memorabilia .left-gradient,.memorabilia .right-gradient{
  position: absolute;
  top:0;
  width:23%;
}
.memorabilia #prev-gradient,.memorabilia #next-gradient{
  height: 100%;
}
.memorabilia .left-gradient{
  left: 0;
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,.3), rgba(255,255,255,0));
}
.memorabilia .right-gradient{
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,.3), rgba(255,255,255,1));
}
.memorabilia .moudle-box{
  position: relative;
  width: 0;
  top:50%;
  left:50%;
  perspective: 1000px;
  line-height: 1.75em;
}
.memorabilia .moudle-box .pic-moudle{
  position: absolute;
  width: 450px;
  height: 267px;
  border-radius: 6px;
  overflow: hidden;
  z-index: 9;
  transition: all .5s;
  box-shadow:#333 0 0 0;
}
.memorabilia .moudle-box .pic-moudle.before{
  top:-133px;
  left:-580px;
  transform: rotateY(30deg);
}
.memorabilia .moudle-box .pic-moudle.active{
  top:-190px;
  left:-320px;
  width: 640px;
  height: 380px;
  z-index: 10;
  transform: rotateY(0deg);
  box-shadow:#666 0 2px 4px;
}
.memorabilia .moudle-box .pic-moudle.after{
  top:-133px;
  left:120px;
  transform: rotateY(-30deg);
}
.pic-moudle img{
  width: 100%;
  height: auto;
}
.pic-moudle div{
  position: absolute;
  top:0;
  right: 0;
  width: 60%;
  height: 100%;
  padding: 0 5% 0 15%;
  background: url("../images/index/Memorabilia-bg.png") no-repeat ;
  background-size: cover;
  color: #FFF;
  text-align: right;
}
.memorabilia .moudle-box .pic-moudle.before div,.memorabilia .moudle-box .pic-moudle.after div{
  opacity: .5;
}
.memorabilia .moudle-box .pic-moudle.before div p,.memorabilia .moudle-box .pic-moudle.after div p{
  font-size: 10px;
}
.pic-moudle div h4{
  font-size: 20px;
  padding-top: 20%;
  font-weight: bold;
}
.pic-moudle div h3{
  font-size: 24px;
  line-height: 1.3em;
  padding: 25% 0;
  height: 50%;
  vertical-align: middle;
}
.pic-moudle div em.small-line{
  margin: 20px 0 20px auto;
}
.pic-moudle div p{
  padding-left:39px;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom:20px;
}
.pic-moudle div a{
  position:absolute;
  right:32px;
  bottom:60px;
  white-space: nowrap;
  color: #FFF;
  font-weight: bold;
}
.pic-moudle.active div a{
  bottom:100px;
}
.memorabilia .marks{
  height: 80px;
  margin-bottom: 80px;
}
.mark-cover{
  position: relative;
  left: 50%;
  top:50%;
}
.mark-cover .mark-box{
  position: absolute;
  top:0;
  left: -100px;
}
.mark-box .marker{
  float: left;
  position: relative;
  width: 200px;
  border-top: #999 solid 2px;
  text-align: center;
  cursor: pointer;
}
.mark-box .marker:before,.mark-box .marker:after{
  position: absolute;
  top:-7px;
  display: block;
  content: " ";
  width: 1px;
  height: 5px;
  background: #999 ;
}
.mark-box .marker:before{
  left:0;
}.mark-box .marker:after{
  right: 0;
}
.mark-box .marker i{
  position: absolute;
  top:-12px;
  left:99px;
  width: 2px;
  height: 10px;
  background: #999 ;
  text-align: center;
}
.mark-box .marker.active i{
  top:-18px;
  left:86px;
  width: 28px;
  height: 28px;
  color: #238BF6;
  font-family: "iconfont" !important;
  font-size: 28px;
  background: none ;
}
.mark-box .marker.active i:before{
  content: "\e622";
}
.mark-box .marker span{
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  color: #666;
  font-size: 14px;
}
.mark-box .marker.active span{
  top: 15px;
  color: #238BF6;
  font-size: 16px;
  font-weight: bold;
}
.iealert {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: rgba(255, 255, 255, .88);
    z-index: 100;
}
.iealert p {
    max-width: 1080px;
    margin: 0 auto;
    color: #333;
    font-size: 16px;
    line-height: 35px;
}
.iealert p a {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 40px;
    margin: -10px;
    color: #FFF;
    text-decoration: none;
}
.iealert p a.chrome {
    background: url("/static/v6/images/index/chrome_logo_2x.png") no-repeat 5px 5px #008dff;
    background-size: 25px 25px;
}
.iealert p a.firefox {
    background: url("/static/v6/images/index/firefox_logo_2x.png") no-repeat 5px 5px #69c700;
    background-size: 25px 25px;
}
.iealert p i {
    float: right;
    font-weight: lighter;
    font-size: 20px;
}
.other-place-p{
	font-size:14px;
	color:#333;
	text-align:left;
	line-height:24px;
}
.other-place-p:first-child{
	margin-bottom:10px;
}
.other-place-p b{
	font-weight:normal;
	color:#0E8BEC;
}
.alert-sure{
	background:#0E8BEC;
}
/** 基金宣言广告 下面固定广告*/
.feedback-index-bg{
  width: 100%;
  height: 120px;
  background: rgba(17,92,121,0.8);
  position: fixed;
  bottom: 0;
  z-index: 999;
  cursor: pointer;
}
.feedback-index-bg .feedback-text{
    width: 1170px;
    height: 120px;
    margin: 0 auto;
    color: #fff;
    position: relative;
}
.feedback-index-bg .feedback-text h2{
  width: 970px;
  height: 68px;
  line-height: 100px;
  font-size: 30px;
  float: left;
}
.feedback-index-bg .feedback-text p{
  width: 970px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-indent: 12px;
  float: left;
}
.feedback-index-bg .feedback-text .isbtn{
  width: 140px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 24px;
  background: #00B4FF;
  color: #fff;
  font-size: 18px;
  float: left;
  position: relative;
  left: 22px;
  bottom: 20px;
}
.feedback-index-bg .feedback-text .feedback-close{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1000;
}
