
/*download index*/
body{
	color: #fff;
}
.height800{
	height: 800px;
}
/**导航栏背景颜色*/
header.topheader{
	background:none; 
}
header.minitoper{
	background:#01131a; 
}
.download-head{
	width: 100%;
	background: url('../images/download/download_bg_10(1).jpg') center;
	background-size:cover;
}
.download-head .head-text{
	width: 100%;
	height: 600px;
	padding-top: 200px;
}
.download-head .head-title{
	height: 140px;
	line-height: 140px;
	font-size: 62px;
	text-align: center;
}
.download-head .head-color{
	color: #1dc9b9;
}
.download-head .head-data{
	width: 840px;
	height: 134px;
	margin: 0 auto;
	border:1px solid #bebab3;
	position: relative; 
}
.download-head .head-data > div{
	height: 130px;
}
/*.download-head .head-data .head-data-backopct{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #ecf5f9;
	opacity: 0.05;
}*/
.download-head .data-int1{
	width: 272px;
	padding-left: 38px;
	position: absolute;
}
.download-head .data-int2{
	width: 276px;
	text-indent: 10px;
	position: absolute; 
	left: 324px;
}
.download-head .data-int3{
	width: 210px;
	position: absolute;
	right: 0;
}
.head-data .data-title{
	width: 100%;
	padding-top: 20px;
	font-size: 14px;
	color: #fff;
}
.head-data .data-main{
	width: 100%;
	margin-top: 12px;
	font-size: 14px;
}
.head-data .data-main span{
	font-size: 40px;
}
.head-data .data-footer{
	width: 100%;
	padding-top: 10px;
	font-size: 12px;
	color: #fff;
}
.head-data .data-border{
	display: block;
	position: absolute;
	width: 1px;
	height: 18px;
	background-color: #fff;
	top: 64px;
	left: 312px;
	opacity: 0.5;
}
.head-data .left580{
	left: 602px;
}
.download-head .head-footer{
	width: 582px;
	height: 64px;
	margin: 0 auto;
	padding-top: 150px;
	position: relative;
}
.head-footer .download_btn{
	display: inline-block;
	width: 280px;
	height: 60px;
	position: relative;
	cursor: pointer;
}
.head-footer .win{
	background: #1dc9b9;
	width: 282px;
	height: 60px;
	display: block;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
}
.download_btn a.win{
	box-shadow:0px 3px #008f8f;
	position: absolute;
	top: 0;
}
.head-footer .mactab{
	float: right;
}
.download_btn .win span{
	display: inline-block;
	line-height: 24px;
	padding-top: 10px;
	font-size: 16px;
}
.download_btn .win b{
	font-size: 12px;
	font-weight: normal;
	position: relative;
	bottom: 8px;
}
.download_btn a.win:hover{
	background: #11ada8;
	box-shadow:0px 2px #008f8f;
	top: 2px;
}
.windowstab a.win i{
    float: left;
    width: 24px;
    height: 25px;
    margin:18px 12px 0 26px;
    background: url("../images/download/win_icon.png") no-repeat;
    background-size: cover;
}
.mactab a.win i{
    float:left;
    width: 27px;
    height: 27px;
    margin:16px 12px 0 32px;
    background: url("../images/download/mac_icon.png") no-repeat;
    background-size:cover; 
}
.com-video{
	width: 100%;
	background: url('../images/download/download_bg_11(1).jpg') center;
	background-size:cover;
	border-top: 1px solid #000;
	position: relative;
}
.play-hove{
	width:110px;
    height:110px;
    background: url(../images/download/play.png);
    background-size: contain;
    margin: 0 auto;
    margin-top: 200px;
    display: block;
    cursor: pointer;
}
.play-hove:hover{
	background: url(../images/download/play-hover.png);
	background-size: contain;
}
.com-video > h2{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	padding-top: 82px;
	font-size: 60px;
}
.com-video > h4{
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}
.interest{
	width: 100%;
	background: url('../images/download/download_bg_12.png') center;
	background-size:cover;
	border-top: 1px solid #000;
}
.browser{
	width: 100%;
	background: url('../images/download/download_bg_13.png') center;
	background-size:cover;
	color: #2e3332;
	position: relative;
	border-top:1px solid #000; 
}
.vote{
	width: 100%;
	background: url('../images/download/download_bg_14.png')  center;
	background-size:cover;
	border-top:1px solid #000; 
}
.innovate{
	width: 100%;
	height: auto;
	border-top:1px solid #FFF;
}
.wrap1170{
	width: 1170px;
	height: 800px;
	margin: 0 auto;
}
.interest-logo{
	position: relative;
}
.interest .interest-logo{
	width: 344px;
	height: 300px;
	float: left;
	background: url('../images/download/download_icon_1.png') center no-repeat;
	background-size: contain;
	margin: 235px 200px 0 97px;
}
.vote .interest-logo{
	width: 344px;
	height: 300px;
	float: left;
	background: url('../images/download/download_icon_3.png') center no-repeat;
	background-size: contain;
	margin: 235px 200px 0 97px;
}
.interest-vote-text{
	float: left;
	width: 528px;
}
.interest-vote  h2{
	width: 528px;
	height: 116px;
	line-height: 58px;
	font-size: 48px;
	margin-top: 118px;
	float: right;
	font-weight: normal;
}
.interest-vote-text > h3{
	width: 100%;
	height: 54px;
	line-height: 54px;
	padding-top: 32px;
	font-size:24px; 
	font-weight: normal;
}
.interest > h2{
	line-height: 116px;
}
.interest-vote-text  p{
	width: 528px;
	color:#aaaebd;
	font-size: 14px;
	margin-top: 10px;
	line-height: 26px;
}
.interest-vote-text .interest-vote-btn{
	width: 498px;
	height: 50px;
	background:#1dc9b9;
	border:none;
	border-radius: 2px;
	margin-top: 90px;
	color: #fff;
	font-size:16px; 
	cursor: pointer;
}
.interest-vote-btn:hover{
	background-color: #11ada8;
}
.interest-vote-text .interest-vote-btn span{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url('../images/download/vote_btn.png') no-repeat;
	background-size: contain;
	margin-left: 8px;
}
.interest-vote-text .foot-text{
	width: 498px;
	margin-left: 3%;
	padding-top: 12px;
	font-size: 16px;
	color:#9fa0a1;
	text-align: center;
	font-style: italic;
}
.browser .browser-left{
	width: 525px;
	float: left;
}
.browser   h2{
	height: 164px;
	line-height: 164px;
	padding-top: 96px;
	font-size: 48px;
}
.browser .browser-left  h3{
	height: 54px;
	line-height: 54px;
	font-size: 24px;
	font-weight: normal;
}
.browser .browser-left  p{
	width: 525px;
	color: #55534f;
	font-size: 14px;
	line-height: 26px;
}
.browser-whitediv{
	width:514px;
	height: 150px;
	margin: 106px 0 0 10px;
	background: #fff;
	text-indent: 7%;
}
.browser-whitediv  h3{
	width: 100%;
	line-height: 54px;
	border-bottom: 1px dashed #e57878;
	margin-bottom: 7px;
	font-size: 24px;
	font-weight: normal;
	font-style:italic;
}
.browser-whitediv ul li{
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	font-style: italic;
}
.browser-whitediv .browser-dot{
	display: inline-block;
	background: #000;
	width: 4px;
	height: 4px;
	margin: 0 12px 2px 0;
	border-radius: 2px;
}
.browser-logo{
	width: 328px;
	height: 300px;
	float: right;
	background: url('../images/download/download_icon_2.png') center no-repeat;
	background-size: contain;
	margin-right:120px;
	position: relative;
}
.interest-vote-text .vote-btn{
	display: inline-block;
	width: 498px;
	height: auto;
	text-decoration:none;
	padding: 14px 0;
	color: #fff; 
	text-align: center;
}
.innovate-head{
	width: 100%;
	height: 200px;
	padding-top: 100px;
	text-align: center;
}
.innovate-head > h2{
	height: 80px;
	line-height: 80px;
	font-size: 48px;
	color: #2e3332;
}
.innovate-head > h3{
	font-size: 24px;
	font-weight: normal;
	color: #1dc9b9;
}
.innovate-ul{
	width: 1230px;
	height: auto;
	margin: 0 auto;
	color: #2e3332;
}
.innovate-ul li{
	width: 33.33%;
	float: left;
	height: 260px;
}
.innovate-ul .height380{
	height: 300px;
}
.innovate-logo{
	width: 38px;
	height: 195px;
	padding-top: 16px;
	float: left;
}
.innovate-logo img{
	width: 30px;
	height: 30px;
	overflow: hidden;
	background-size: contain;
}
.innovate-com{
	width: 350px;
	height: 206px;
	padding-left: 8px;
	padding-top: 8px;
	float: left;
}
.innovate-com > h3{
	width: 100%;
	height: 34px;
	line-height: 34px;
	font-size: 18px;
	font-weight: normal;
}
.innovate-com > h4{
	width: 100%;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
}
.innovate-com > p{
	width: 304px;
	line-height: 18px;
	font-size: 12px;
}
/*鼠标移入提示框*/
.prompt-box{
	width: 280px;
	overflow: hidden;
	height:auto;
	position: absolute;
	border-radius: 3px;
	bottom: 68px;
	background-color: rgba(29,201,185,0.4);
	padding: 19px 0 17px 0px;
	text-indent: 26px;
	display: none;
}
.prompt-box p{
	font-size: 13px;
	height: 24px;
	color: #fff;
	line-height: 24px;
}
.box-right{
	right: 0;
}
/****************播放弹窗*******************/
.video-modal{
	position: fixed;
	top:0;
	left: 0;
	z-index:210; 
	width: 100%;
	height: 100%;
	visibility: hidden;
}
.video-modal .video{
	position: absolute;
	top:50%;
	left: 50%;
	width: 1026px;
	height: 577px;
	margin-top: -260px;
	margin-left: -513px; 
	background: rgba(2,11,21,.88);
}
.video #myVideo{
    width: 1026px;
}
.video-modal .video-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
}
.video-modal .video h2{
	position: absolute;
	font-size: 16px;
	font-weight: normal;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-indent: 20px;
	color: #fff;
	background: rgba(0,0,0,0.2);
	/*background:-moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(255, 255, 255, 0.5));  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0,0,0,0.5)), to(rgba(255, 255, 255, 0.5)));
    background:-webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(255, 255, 255, 0.1));    
    background:-o-linear-gradient(top, rgba(0,0,0,0.5), rgba(255, 255, 255, 0.5)); 
    background:linear-gradient(top, rgba(0,0,0,0.1), rgba(255, 255, 255, 0.1));*/
}
.video-modal .video .close-video{
    position: absolute;
    width: 16px;
    height: 16px;
    top:-30px;
    right: 0;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
    background: url('../images/video_icon.png') no-repeat;
	background-size: cover;
	background-position: 0px -240px;
}
.video-modal .video .close-video:hover{
	background-position: 0px -260px;
}
.video-modal .videoMaxZidex{
	width: 100%;
	margin: 0;
}
/*首页三个播放按钮的动效*/
@-webkit-keyframes gif{
        0%{
                -webkit-transform: scale(1);
        }
        50%{
                -webkit-transform: scale(1.15);
        }
        100%{
                -webkit-transform: scale(1);
        }
        
    }

    @-moz-keyframes gif{
        0%{
                -moz-transform: scale(1);
        }
        50%{
                -moz-transform: scale(1.15);
        }
        100%{
                -moz-transform: scale(1);
        }

    }
    @-o-keyframes gif{
        0%{
                -o-transform: scale(1);
        }
        50%{
                -o-transform: scale(1.15);
        }
        100%{
                -o-transform: scale(1);
        }

    }

    @keyframes gif {
        0%{
                transform: scale(1);
        }
        50%{
                transform: scale(1.15);
        }
        100%{
                transform: scale(1);
        }
    }
.video-gif{
	width: 102px;
	height: 102px;
	display: block;
	cursor: pointer;
	background: url('../images/btn_video.png') no-repeat;
	-webkit-animation: gif 2s 0s linear infinite;
    -moz-animation: gif 2s 0s linear infinite;
    -o-animation: gif 2s 0s linear infinite;
    animation: gif 2s 0s linear infinite;
	z-index: 3;
	position: absolute;
	bottom: 0;

}
.interest .video-gif{
	left: 40px;
}
.browser .video-gif{
	right: 20px;
	bottom: 16px;
}
.vote .video-gif{
	top:50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -40px;
}
/** 基金宣言广告 下面固定广告*/
.feedback-index-bg{
  width: 100%;
  height: 120px;
  background: rgba(17,92,121,0.8);
  position: fixed;
  bottom: 0;
  z-index: 999;
  cursor: pointer;
}
.feedback-index-bg .feedback-text{
    width: 1170px;
    height: 120px;
    margin: 0 auto;
    color: #fff;
    position: relative;
}
.feedback-index-bg .feedback-text h2{
  width: 970px;
  height: 68px;
  font-weight: normal;
  line-height: 100px;
  font-size: 30px;
  float: left;
}
.feedback-index-bg .feedback-text p{
  width: 970px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  float: left;
}
.feedback-index-bg .feedback-text .isbtn{
  width: 140px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 24px;
  background: #00B4FF;
  color: #fff;
  font-size: 18px;
  float: left;
  position: relative;
  left: 22px;
  bottom: 20px;
}
.feedback-index-bg .feedback-text .feedback-close{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1000;
  background: url('../images/icon-guanbi.png') no-repeat;
  background-size: 100%;
}
/*****y移动端 最大1170px*****/
@media screen and (max-width: 1170px) {
	.height800{
		height: 11rem;
	}
	.download-head{
		width: 100%;
		background: url('../images/download/download_app_bg_0(1).jpg') center;
		background-size: cover;
	}
	.download-head .head-text{
		width: 100%;
		height: 6rem;
		padding-top: 2.4rem;
	}
	.download-head .head-title{
		height: 2rem;
		line-height: 0.81rem;
		font-size: 0.8rem;
		text-align: center;
	}
	.download-head .head-data{
		width: 6.72rem;
		height: 1.5rem;
		/*background:#fff; */
	}
	.download-head .head-data > div{
		height: 1.5rem;
		padding: 0;
		text-indent: 0;
	}
	/*.download-head .head-data .head-data-backopct{
		opacity: 0.02;
	}*/
	.download-head .head-data .data-int1{                       
		width: 2.37rem;
		padding-left: 0.12rem;
	}
	.download-head .head-data  .data-int1{
	}
	.download-head .data-int2{
		width: 2.24rem;
		left: 2.52rem;
	}
	.download-head .data-int3{
		width: 1.99rem;
	}
	.download-head .data-int3 .app-data-days{
		display: none;
	}
	.head-data .data-title{
		padding-top: 0.25rem;
		font-size: 0.2rem;
	}
	.head-data .data-main{
		margin-top: 0.18rem;
		font-size: 0.14rem;
	}
	.head-data .data-main span{
		font-size: 0.32rem;
	}
	.head-data .data-footer{
		padding-top: 0.1rem;
		font-size: 0.14rem;
	}
	.head-data .data-border{
		display: none;
	}

	.download-head .head-footer{
		width: 5.02rem;
		height: 2.46rem;
		margin: 0 auto;
		padding-top: 1.8rem;
	}
	.head-footer .win{
		width: 5.02rem;
		height: 1rem;
		cursor: pointer;
	}
	.head-footer .download_btn{
		display: inline-block;
		width: 5.02rem;
		height: 1rem;
		position: relative;
		cursor: pointer;
	}
	.head-footer .mactab{
		top: 0.38rem;
	}
	.download_btn .win span{
		line-height: 0.5rem;
		padding-top: 0.12rem;
		font-size: 0.28rem;
	}
	.download_btn .win b{
		font-size: 0.21rem;
		float:left;
		bottom: 0.1rem;
	}
	.windowstab a.win i{
	    width: 0.44rem;
	    height: 0.46rem;
	    margin:0.28rem 0.2rem 0 0.58rem;
	}
	.mactab a.win i{
	    width: 0.47rem;
	    height: 0.47rem;
	    margin:0.28rem 0.2rem 0 0.58rem;
	}
	.com-video{
		width: 100%;
		background: url('../images/download/download_app_bg_1(1).jpg') center;
		background-size: cover;
	}
	.play-hove{
		width:1.66rem;
	    height:1.66rem;
	    margin-top: 3.76rem;
	}
	.com-video > h2{
		height: 1rem;
		line-height: 1rem;
		padding-top: 0.55rem;
		font-size: 0.6rem;
	}
	.com-video > h4{
		font-size: 0.32rem;
	}
	.wrap1170{
		width: 100%;
		height: auto;
	}
	.interest{
		background: url('../images/download/download_app_bg_2.png') center;
		background-size: cover;
	}
	.browser{
		width: 100%;
		background: url('../images/download/download_app_bg_3.png') center;
		background-size: cover;
		height: 12rem;
	}
	.vote{
		width: 100%;
		height: 9.5rem;
		background: url('../images/download/download_app_bg_4.png') center;
		background-size: cover;
	}
	.interest-vote .interest-logo{
		width: 3.45rem;
		height: 3rem;
		float: none;
		background-size: 100%;
		margin:0 auto;
		margin-top: 0.65rem;
	}
	.interest-vote-text{
		float: none;
		width: 100%;
	}
	.interest-vote  h2{
		width: 100%;
		height: 1.27rem;
		line-height: 0.63rem;
		font-size: 0.48rem;
		margin-top: 0.36rem;
		float: none;
		text-align: center;
	}
	.interest-vote-text  h3{
		height: 0.64rem;
		line-height: 0.64rem;
		padding-top: 0;
		font-size: 0.32rem;
		text-align: center;
	}
	.interest-vote-text  p{
		width: 90%;
		margin: 0 auto;
		font-size: 0.24rem;
		line-height: 0.34rem;
		text-align: left;
	}
	/*.interest .interest-vote-text > h3{
		height: 0.32rem;
	}*/
	/*.interest .interest-vote-text > p{
		margin-top: 0.1rem;
	}*/
	.interest  h2{
		line-height: 1.27rem;
	}
	.interest-vote-text .interest-vote-btn{
		width: 90%;
		height: 0.73rem;
		font-size: 0.24rem;
		margin-top: 1.2rem;
		margin-left: 5%;
	}
	.interest-vote-text .interest-vote-btn span{
		width: 0.17rem;
		height: 0.17rem;
		margin-left: 0.11rem;
		margin-top: 0.05rem;
		background-size: contain;
	}
	.interest-vote-text .vote-btn{
		display: none;
	}
	.interest-vote-text .foot-text{
		width: 100%;
		padding-top: 0.23rem;
		font-size: 0.24rem;
		margin: 0;
	}
	.browser   h2{
		width: 100%;
		height: 1.27rem;
		line-height: 1.27rem;
		font-size: 0.48rem;
		float: none;
		text-indent:0;
		text-align: center;
		padding: 0;
		position: absolute;
		top: 3.72rem;
	}
	.browser .browser-left{
		width: 90%;
		padding: 0;
		margin-left:5%;
		position: absolute;
		top: 5.1rem;
	}
	.browser .browser-left  h3{
		height: 0.65rem;
		line-height: 0.65rem;
		font-size: 0.32rem;
		text-align: center;
	}
	.browser .browser-left  p{
		width: 100%;
		font-size: 0.24rem;
		line-height: 0.34rem;
		text-align: left;
	}
	.browser-whitediv{
		width:100%;
		height: 2.05rem;
		margin: 0;
		margin-top: 1.06rem;
		text-indent: 0.56rem;
	}
	.browser .browser-whitediv  h3{
		width: 100%;
		line-height: 0.74rem;
		margin-bottom: 0.12rem;
		font-size: 0.32rem;
		text-align: left;
	}
	.browser-whitediv ul li{
		height: 0.34rem;
		line-height: 0.34rem;
		font-size: 0.24rem;
	}
	.browser-whitediv .browser-dot{
		width: 4px;
		height: 4px;
		margin: 0 0.17rem 0.04rem 0;
		border-radius: 2px;
	}
	.browser-logo{
			width: 3.45rem;
			height: 3.2rem;
			float: none;
			display: block;
			background-size: 100%;
			margin:0 auto;
			top: 0.3rem;
	}
	.innovate{
		width: 100%;
		height: auto;
		float: left;
		padding-bottom: 0.5rem;
	}
	.innovate-ul .height380{
		height: auto;
	}
	.innovate-head{
		width: 100%;
		height: 1.44rem;
		padding-top: 0.9rem;
	}
	.innovate-head > h2{
		height: 0.82rem;
		line-height: 0.82rem;
		font-size: 0.46rem;
	}
	.innovate-head > h3{
		font-size: 0.3rem;
	}
	.innovate-ul{
		width: 100%;
		height: auto;
		float: left;
	}
	.innovate-ul li{
		width:100%;
		height: auto;
	}
	.innovate-logo{
		width: 100%;
		height: 0.66rem;
		padding-top: 0.5rem;
		float:none;
		text-align: center;
	}
	.innovate-logo img{
		width: 0.64rem;
		height: 0.64rem;
	}
	.innovate-com{
		width: 100%;
		height: auto;
		padding-top: 0;
		padding-left: 0;
		float: none;
		text-align: center;
	}
	.innovate-com > h3{
		width: 100%;
		height: 0.68rem;
		line-height: 0.68rem;
		font-size: 0.32rem;
		text-align: center;
	}
	.innovate-com > h4{
		width: 100%;
		height: 0.35rem;
		line-height: 0.35rem;
		font-size: 0.26rem;
	}
	.innovate-com > p{
		width: 90%;
		height: auto;
		margin: 0 auto;
		line-height: 0.36rem;
		font-size: 0.22rem;
		text-align: left;
	}
	.prompt-box{
		width: 0;
		height: 0;
	}

	/****************播放弹窗*******************/
	.video-modal{
		position: absolute;
		top:0;
		left: 0;
		z-index:210; 
		width: 0;
		height:0;
		visibility: hidden;
		display: none;
	}
	#myVideo{
		width: 1px;
		height: 1px;
	}
	.video-modal .video-bg{
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
	}
	.video-modal .video{
		position: absolute;
		top:25%;
		left: 0;
		width: 100%;
		height: 50%;
		margin: 0;
		padding:0;
		background: rgba(2,11,21,.88);
	}
	.video-modal .video h2{
		font-size: 0.22rem;
		font-weight: lighter;
		margin: 0;
		padding: 0.22rem 0;
		text-align: left;
		text-indent: 0;
		display: none !important;
	}
	.video-modal .video .close-video{
	    position: absolute;
	    top:-0.1rem;
	    right: 0;
	    width: 0.2rem;
	    height: 0.2rem
	    font-size: 0.36rem;
	}
	#myControls{
		display: none !important;
	}
	.video-gif{
		width: 1rem;
		height: 1rem;
		background-size: cover;
	}
	.interest .video-gif{
		left: 0.4rem;
	}
	.browser .video-gif{
		right: 0.2rem;
		bottom: 0.16rem;
	}
	.vote .video-gif{
		margin-left: -0.5rem;
		margin-top: -0.5rem;
	}
	/** 基金宣言广告 下面固定广告*/
	.feedback-index-bg{
	  width: 100%;
	  height: 2.4rem;
	  background: rgba(17,92,121,0.8);
	  position: fixed;
	  bottom: 0;
	  z-index: 999;
	  cursor: pointer;
	}
	.feedback-index-bg .feedback-text{
	    width: 6.23rem;
	    height: 100%;
	    margin: 0 auto;
	    color: #fff;
	    position: relative;
	}
	.feedback-index-bg .feedback-text h2{
	  width: 6.23rem;
	  height: 0.88rem;
	  line-height: 0.44rem;
	  font-size: 0.36rem;
	  padding-top: 0.29rem;
	}
	.feedback-index-bg .feedback-text p{
	  display: none;
	}
	.feedback-index-bg .feedback-text .isbtn{
	  width: 5.8rem;
	  height: 0.8rem;
	  text-align: center;
	  line-height: 0.8rem;
	  border-radius: 0.6rem;
	  background: #00B4FF;
	  color: #fff;
	  font-size: 0.36rem;
	  position: relative;
	  top: 0.18rem;
	}
	.feedback-index-bg .feedback-text .feedback-close{
	  width: 0.4rem;
	  height: 0.4rem;
	  position: absolute;
	  right: -0.5rem;
	  top: 10px;
	  z-index: 1000;
	}
}

