
/*download 白皮书*/
.fqawarp {
	width: 1100px;
	min-height: 800px;
	padding-top: 110px;
	padding-bottom: 30px;
	color: #333;
	font-size: 16px;
	line-height: 30px;
}
.fqawarp h1{
	font-weight: lighter;
	font-size: 24px;
	text-align: center;
	margin-bottom: 30px;
	font-weight: bold;
}
.fqawarp h2{
	font-size: 18px;
	text-align:left;
	color: #333;
}
.fqawarp h3{
	font-size: 16px;
	color: #333;
	margin-bottom: 5px;
	font-weight: bold;
}
.fqawarp ul{
	border-bottom: #f3f5f7 solid 1px;
}
.fqawarp li{
	border-top: #f3f5f7 solid 1px;
}
.fqawarp li h2{
	position: relative;
	padding: 5px;
}
.fqawarp li h2 span{
	padding-right: 20px;
}
.fqawarp li h2 i{
	position: absolute;
	top:13px;
	right: 20px;
	width: 10px; 
	height:10px;
	border-color:#153e63;
	border-width: 0px 2px 2px 0px;
	border-style: solid;
	transform-origin: 75% 75%;
	transform:rotate(45deg);
	transition: transform .5s;
}
.fqawarp li:hover,.fqawarp li.active{
	color:#666;
	border-top: #e8ecef solid 1px;
}
.fqawarp li:hover h2,.fqawarp li.active h2{
	color: #1bc0b1;
	background: #f3f5f7;
	cursor: pointer;
}
.fqawarp li:hover h2 i{
	border-color: #1bc0b1;
}
.fqawarp li.active h2 i{
	border-color: #1bc0b1;
	transform:rotate(225deg);
}
.fqawarp li section{
	display: none;
	padding: 10px 0;
	width: 95%;
	margin-left: 3%;
}
.fqawarp li section img{
	width: 100%;
	margin-bottom: 10px;
}
.fqawarp li section p{
	margin: 10px 0;
	color: #333;
}
.fqawarp li section .blue{
	color: #333;
}
.fqawarp section .clearfix{
	padding-left: 5%;
	width: 95%;
}
.fqawarp section .clearfix span.sequence{
	float: left;
	margin-left: -5%;
	color: #333;
}
.fqawarp section .clearfix p{
	text-indent: 0;
}
/*go-top*/
.go-top{
	position: fixed;
	bottom: 20px;
	right: 30px;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: rgba(0,0,0,.5);
	cursor: pointer;
}
.go-top i{
	position: absolute;
	top:5px;
	right: 15px;
	width: 16px; 
	height: 16px;
	border-color:#FFF;
	border-width: 0px 2px 2px 0px;
	border-style: solid;
	transform-origin: 75% 75%;
	transform:rotate(225deg);
}

.mind_table,.mind_table_1,.white_table{
      width: 100%;
      padding:0;
      margin: 0;
      border: 0;
      border-right: 1px solid #333;
      border-bottom: 1px solid #333;
      border-collapse:collapse;
      background: #fff;
      color: #333;
    }
.mind_table td,.mind_table_1 td,.white_table td{
      text-align: center;
      border-left: 1px solid #333;
      border-top: 1px solid #333;
}
.mind_table td:nth-child(1){
	width: 100px;
}
.fqawarp .white_h1{
	position: relative;
}
.white_download{
	position: absolute;
	right: 0;
}
.white_download a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	padding: 12px 28px;
	background: #18afa1 url(../images/white_logo.png) no-repeat 104px 12px;
}
.white_ENdownload a{
	background: #18afa1 url(../images/white_logo.png) no-repeat 144px 12px;
}
.fqawarp .white_p{
	position: relative;
	text-indent: 0;
	height: auto;
	line-height: 1.2em;
}
.white_p span{
	position: absolute;
}
.white_p span:nth-child(1){
	top: -10px;
	left: 180px;
}
.white_p span:nth-child(2){
	left: 340px;
}
.white_p span:nth-child(3){
	top: -8px;
	right: 362px;
	border-bottom: 1px solid #000;
}
.white_p span:nth-child(4){
	top: 8px;
	left: 155px;
	border-top: 1px solid #000;
}
.white_p span:nth-child(5){
	top: 12px;
	right: 382px;
}
.fqawarp .white_p .left490{
	left:490px;
}
.fqawarp .white_p .left450{
	left: 450px;
}
.fqawarp .white_p .top-28{
	top:-28px;
	width: 310px;
}
.fqawarp .white_p .left200_border{
	left: 200px;
	border: none;
}
.fqawarp .white_p .left_bottom{
	top: -12px;
	left: 200px;
	border-bottom: 1px solid #000;
}
.fqawarp .white_p .right0{
	right: 0;
	width: 305px;
}
.white_table td{
	text-align: left;
	padding: 8px;
}
.white_table td:nth-child(1){
	width: 120px;
	font-weight: bold;
}
.white_table td:nth-child(2){
	width: 180px;
}
.fqawarp .white_table .colortd{
	color: #333;
	font-weight: normal;
}
.fqawarp .white_ul li h4{
    font-weight: normal;
}
