
/*notice*/
.notice-box{
	padding: 120px 0;
	background: #FFF;
	color: #001b2e;
    height: 100%;
}
.notice-box .warp{
	max-width: 900px;
}
.notice-box h2{
	text-align: center;
	padding:30px 0 0px 0;
	color: #333;
	font-size: 20px;
	line-height: 36px;
	
}
.notice-box p{
    padding-left: 20px;
    padding-right: 20px;
	  font-size: 16px;
	  line-height: 30px;
	  color: #333;
}
.notice-box p.call{text-indent:0;}
.notice-box footer p{
	text-align: right;
}
.tablediv{
	width: 100%;
	max-width: 1100px;
    height: 180px;
    border-bottom: 1px solid #ebedf0;
    position: relative;
}
.box_warp{
	border: 1px solid #ebedf0;
	border-bottom: none;
    margin: 0 auto;
    width: 100%; 
    max-width: 1100px;
    height: auto;
}
.tablediv_div{
   position: fixed;
   width:990px;
   margin: auto;
   left:0;
   right:0; 
   top: 0;
   bottom: 0;
   height: 600px;
   border-radius: 6px;
   background: #fff;
   z-index: 999;
   display: none;
}
.table_hei630{
    height: 630px;
}
.tablediv_div h2{
	margin: 0 80px;
	padding-top: 66px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 26px;
  line-height: 26px;
}

.tablediv_div p{
	padding: 0px 80px;
	line-height: 22px;
  font-size: 14px;
  margin-top: 6px;
}
.tablediv_div footer p{
  margin-top: 30px;
}
.tablediv_div .foot_p{
  margin-top: 4px;
}
.tablediv_div .tablediv_div_btn{
    width: 300px; 
    height:44px;
    background: #1dc9b9; 
    border: none;
    cursor: pointer;
    color: #fff;
    line-height: 44px;
    font-size: 14px;
    position:relative;
    top: 30px;
    left: 370px;
    border-radius: 4px;
}
.tablediv_div .tablediv_div_btn:hover{
    background: #11ada8;
}
.notice-bgblack{
	position: absolute;
	width: 100%; 
	height: 100%; 
	top:0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.head_active{
    width: 54px;
    height: 20px;
    display: inline-block;
}

.div_wrap{
    height: 376px;
    overflow-y: auto; 
}
