@CHARSET "UTF-8";
.topthre_head{
    width: 1170px;
    height: 260px;
    padding-top: 150px;
    margin: 0 auto;
}
.topthre_head .img_div_wrap{
    width: 198px;
    height: 198px;
    background: #FFFFFF;
    border: 1px solid #DCDDE4;
    border-radius: 8px;
    text-align: center;
    float: left;
    margin-right: 85px;
}
.img_div_wrap .img_div{
    width: 100%;
    height: 88px;
    padding-top: 56px;
}
.img_div_wrap img{
    height: 100%; 
}
.topthre_head .topthre_text{
    width: 884px;
    height: 200px;
    float: left;
}
.topthre_text h2{
    width: 100%;
    line-height: 27px;
    font-size: 24px;
    color: #2E3332;
    padding-bottom: 30px;
}
.topthre_text img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 12px;
}
.topthre_text .textdiv_hx{
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #A0A0A0;
    line-height: 30px;
    padding-bottom: 20px;
}
.topthre_text .textdiv_hx a{
    text-decoration: none;
    font-size: 14px;
    color: #A0A0A0;

}
.topthre_text .textdiv_hx a:hover{
    color: #1DC9B9;
}
.topthre_text_footer{
    width: 1170px;
    height: 120px;
    font-size: 14px;
    color: #2E3332;
    margin: 0 auto;
}
/*//留言版*/
.topthre_main{
    width: 1170px;
    min-height: 666px;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 80px;
}
.topthre_main .foot_title{
    width: 100%;
    height: 34px;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0.35px;
    padding-bottom: 10px;
    font-weight: normal;
}
.topthre_main .username{
    width: 240px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    font-size: 14px;
    color: #565A5C;
    text-indent: 14px;
    outline:none;
}
.topthre_main .text_main{
    width: 1170px;
    height: 312px;
    padding-top: 10px;
    position: relative;
}
.text_main #sub-text{
    width: 1140px;
    height: 230px;
    padding: 14px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    font-size: 14px;
    color: #565A5C;
    letter-spacing: 0px;
    line-height: 21px;
    outline:none;
    resize:none;
}
.text_main .submit{
    width: 96px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #00CDBA;
    border-radius: 2px;
    font-size: 16px;
    color: #FFFFFF;
    float: right;
    margin-top: 14px;
    cursor: pointer;
}
.text_main .submit:hover{
    background: #11ada8;
}
.text_main .text_num{
    font-size: 14px;
    position: absolute;
    right: 18px;
    top: 250px;
    color: #565A5C;
}
/*留言区*/
.guest_book{
    width: 1170px;
    height: auto;
    padding-top: 40px;
}
.guest_book h2{
    height: 33px;
    font-size: 24px;
    color: #000000;
    padding-bottom: 30px;
    font-weight: normal;
    display: none;
}
.guest_book .book_main{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}
.guest_book .book_main >div{
    width: 666px;
    height: 20px;
    padding-bottom: 14px;
}
.guest_book .book_main span{
    display:inline-block;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #000000; 
    margin-right: 20px;
}
.guest_book .book_main i{
    display: inline-block;
    height: 14px;
    width: 90px;
    overflow: hidden;
    line-height: 14px;
    font-size: 12px;
    color: #A0A0A0;
    letter-spacing: 0.17px;
    font-style: inherit;
    position: relative;
    top: 2px;
}
.book_main p{
    width: 100%;
    line-height: 17px;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.17px;
}
.next_now{
    width: 195px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    background: #1DC9B9;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 20px;
    display: none;
}
.next_now:hover{
     background: #11ada8;
}
/*留言板END*/









