@charset 'utf-8';
/********************************  base ************************/
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border: 0 none; }
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 {  font-weight:normal; }
body, input, select, button, textarea { font-size: 12px;}
button { cursor: pointer; }
i, em, cite { font-style: normal; }
/************************* box尺寸定义 *******************/
html,body{
    height: 100%;
}
.warp {
    min-width: 1200px;
    min-height: 100%;
    position: relative;
    top:0;
    left:0;
    overflow:hidden;
}
.warp-container{                 /*****wrap的padding层*****/
/*    padding-bottom: 50px;*/
    min-height: 800px;
}

.container-bg{                 /*****container背景层*****/

}

.warp .container {           /*****container居中层*****/
    padding: 0;
    width: 1080px;
    min-height: 800px;
    background: #FFF;
}

.wrap-center{
    width: 80%;
    margin: 0 auto;
}
.login-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/res_bg.jpg?v=1.0.1) no-repeat center;
    background-size:100% 100%;
}
/************************* 通用 *******************/
.fontshrink{-webkit-text-size-adjust:none;-webkit-transform:scale(0.8);-o-transform:scale(1); display:inline-block}
/*********** 自动截断，省略为...，需要设定宽度 ********/
.jieduan{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*********** 强制换行 ********/
.break{ word-wrap: break-all; word-break: normal; }

/*********** 清除浮动 ********/
.clear { diplay: block!important; float: none!important; clear: both; overflow: hidden; width: auto!important; height: 0!important; margin: 0 auto!important; padding: 0!important; font-size: 0; line-height: 0; }

/*********** 元素闭合********/
.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%; }
*html .fixed { height: 1%; }

/******** 对齐 *****************/
.textright{text-align:right;}
.textcenter{text-align:center;}
.textleft{text-align:left;}
.vtop,.vtop td{ vertical-align:top}
.vmiddle,.vmiddle td{ vertical-align:middle}
.vbottom,.vbottom td{ vertical-align:bottom}
.center{ margin:0 auto;}

/***********   浮动   ********/
.fl, .fr { display: inline; float: left; }
.fr { float: right; }
.floatleft{float:left;}
.floatright{float:right;}
.block{display:block;}
.none{display:none;}
.overh{ overflow:hidden;}
.posabs{
    position: absolute;
}
.posrel{
    position: relative;
}
/******** 常见边距 start ********************/
.margin0{margin:0px;}
.margin5{margin:5px;}
.margin10{margin:10px;}
.margin15{margin:15px;}
.margin20{margin:20px;}
.margin40{margin:40px;}
.top0{margin-top:0px;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}

.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top30{margin-top:30px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top60{margin-top:60px;}
.top68{ margin-top: 68px;}
.top73{ margin-top: 73px;}
.top100{margin-top:100px;}
.top220{margin-top:220px;}

.left0{margin-left:0px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left30{margin-left:30px;}
.left50{margin-left:50px;}
.left150{margin-left:150px;}
.right0{margin-right:0px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right30{margin-right:30px;}
.right50{margin-right:50px;}
.bottom0{margin-bottom:0px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom50{margin-bottom:50px;}
.lr10 { margin-left:10px;margin-right:10px;
}
.lr15 { margin-left:15px;margin-right:15px;
}
.lr20{ margin-left:20px;margin-right:20px;
}
.plr10 { padding-left:10px;padding-right:10px;
}
.plr15 { padding-left:15px;padding-right:15px;
}
.plr20{ padding-left:20px;padding-right:20px;
}

.pdr30{
    padding-right: 30px;
}
.p5 { padding:2px 5px;
}
.p10 { padding:5px 10px;
}
.p15 { padding:5px 15px;
}
.p10-15 { padding:10px 15px;
}
.p20{ padding:5px  20px;
}
.textindent2 {
    text-indent:2em
}
/******** 边距 end *************************/

/******** 常见宽度 start ***********************/
.width10{width:10px;}
.width20{width:20px;}
.width30{width:30px;}
.width40{width:40px;}
.width50{width:50px;}
.width60{width:60px;}
.width70{width:70px;}
.width80{width:80px;}
.width90{width:90px;}
.width100{width:100px;}
.w100{width:100%;}
.width108{width:108px;}
.width110{width:110px;}
.width120{width:120px;}
.width130{width:130px;}
.width140{width:140px;}
.width150{width:150px;}
.width160{width:160px;}
.width170{width:170px;}
.width180{width:180px;}
.width190{width:190px;}
.width200{width:200px;}
.width220{width:200px;}
.width250{width:250px;}
.width280{width:280px;}
.width300{width:300px;}
.width350{width:350px;}
.width400{width:400px;}
.width420{width:420px;}
.width450{width:450px;}
.width500{width:500px;}
.width600{width:600px;}
.width700{width:700px;}
.width800{width:800px;}
.width900{width:900px;}
.width940{width:940px;}
.width960{width:960px;}
.width980{width:980px;}
.width1000{width:1000px;}
.height10{ height: 10px;}
.height27{ height:27px}
.height40{ height:40px}
.height50{ height:50px}
.height80{ height:80px}
.height160{ height:160px;}
.height200{ height:200px;}
.height388{ height:388px;}
.minheight500{ min-height:500px;}
/******** 宽度 end *********************/
.inlie-block {
    display:inline-block;
}
/******** 字体与内容 start *****************/

/******** 字体加粗 *****************/
.normal{font-weight:normal}
.bold{font-weight:bold}

/******** 行高 *****************/
.lineh16{line-height:16px;}
.lineh20{line-height:20px;}
.lineh25{line-height:25px;}
.lineh30{line-height:30px;}
.lineh50{line-height:50px;}
/******** 字号 *****************/
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font25{font-size:25px;}
.font30{font-size:30px;}
.font40{font-size:40px;}
.font50{font-size:50px;}
.it{ font-style:italic;}
/******** 字体内容 end *********************/
.bordergray{ border:solid 1px #e5e5e5;}
.borderdarkgray{ border:solid 1px #ccc;}
.borderblack{ border:solid 1px #000;}
/******** 图片 start *****************/
.imgmiddle{vertical-align:middle;margin-top:-4px;}
/******** 图片 end*****************/
.bortop1 {  border-top:solid 1px #e5e5e5;
}
.bordbottxu1 {border-bottom:dashed 1px #e6e6e6
}
.bordtopwhite1 {  border-top:solid 1px #fff;
}
.borderright1 {  border-right:solid 1px #a0a0a0;
}
/******** 颜色 start*****************/
.white{ color:#fff}
.blue{ color:#006699}
.black{ color:Black;}
.red{ color:#e64f56;}
.yellow{ color:#f6bb42;}
.pink{color:#ff34ab}
.black { color:#000;}
.darkgray{color:#626262}
.lightgray{color:#a0a0a0}

.bgblack{ background-color:#000000;}
.bgwhite { background-color:#fff;
}
.bgblue{ background-color:#d8effc;}
.bgdarkgray{ background-color:#707070;}
.bgdarkgray2{ background-color:#535353;}
.bglightgray{ background-color:#eeeeee;}.bglightgray2{ background-color:#bfbfbf;}
.bgyellow{background-color:#fffc0d;}
.bordernone { border:none;}
.radius2 {border-radius:2px;}
.radius5 {border-radius:5px 5px 5px 5px;}
.radius30 {border-radius:30px;}
/******** 颜色 end*****************/

/******** 链接 start**************/
.whitea a:link,.whitea a:visited,a.whitea:link,a.whitea:visited{color:#ffffff;text-decoration: underline;text-decoration: none;}
.whitea a:hover,.whitea a:active,a.whitea:hover,a.whitea:active{color:#ffffff;text-decoration: underline;text-decoration: none;}
.bluea a:link,.bluea a:visited,a.bluea:link,a.bluea:visited{color:#006699;text-decoration: none;}
.bluea a:hover,.bluea a:active,a.bluea:hover,a.bluea:active{color:#006699;text-decoration: none;}

.blacka a:link,.blacka a:visited,a.blacka:link,a.blacka:visited{color:#000;text-decoration: none;}
.blacka a:hover,.blacka a:active,a.blacka:hover,a.blacka:active{color:#333;text-decoration: none;}
.darkgraya a:link,.darkgraya a:visited,a.darkgraya:link,a.darkgraya:visited{color:#626262;text-decoration: none;}
.darkgraya a:hover,.darkgraya a:active,a.darkgraya:hover,a.darkgraya:active{color:#a0a0a0;text-decoration: none;}
.lightgraya a:link,.lightgraya a:visited,a.lightgraya:link,a.lightgraya:visited{color:#a0a0a0;text-decoration: none;}
.lightgraya a:hover,.lightgraya a:active,a.lightgraya:hover,a.lightgraya:active{color:#626262;text-decoration: none;}
.reda a:link,.reda a:visited,a.reda:link,a.reda:visited{color:#ff0000;text-decoration: none;}
.reda a:hover,.reda a:active,a.reda:hover,a.reda:active{color:#ff0000;text-decoration: none;}




.darkgraya .blacka a:link,.darkgraya .blacka a:visited,.darkgraya a.blacka:link, .darkgraya a.blacka:visited{color:#000;text-decoration: none;}
.blacka a:hover,.blacka a:active,a.blacka:hover,a.blacka:active{color:#333;text-decoration: none;}
/******** 链接 end****************************/
.textarea{ background-color:#fff; border:solid 1px #eee}
.text_normal,.auto-kal{ background-color:#fff; border:solid 1px #eee; height:26px; line-height:26px;}
.even td{ background-color:#e6edf1}

/*输入框valid验证*/
.input-valid-style,.text-danger{
    position:absolute;
    bottom: -20px ;
    left:55px;
    color:#999;
}

/*盒子阴影*/
.wrap-shadow{
    box-shadow:1px 1px 5px rgba(0,0,0,.3);
    -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.3);
    -moz-box-shadow:1px 1px 5px rgba(0,0,0,.3);
}
/*模态弹出层*/

#alertWrap {
    position: fixed;
    width: 300px;
    z-index: 9999;
    top:50%;
    left:50%;
    box-shadow:1px 1px 3px rgba(0,0,0,.4);
    margin-left:-150px;
}

#alertWrap .alert-bg{
    width: 100%;
    height: 40px;
    background: url(../images/messagebox-bg.png) repeat-x 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#alertWrap .alert-box{
    width: 100%;
    background-color: #fff;
    padding: 20px 0 15px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#alertWrap .alert-text{
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 0 15px;
    font-size: 14px;
}
/*常用按钮样式*/
.btn-default-blue{
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding:0 15px;
    color:#fff;
    font-size: 18px;
    text-align: center;
    background-color: #0877cd;
    background-image:-webkit-linear-gradient(top,#0e88e7,#0164b3);
    background-image:-moz-linear-gradient(top,#0e88e7,#0164b3);
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    cursor: pointer;
}

.btn-default-black{
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding:0 15px;
    color:#fff;
    font-size: 18px;
    text-align: center;
    background-color: #4a4a4a;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    cursor: pointer;
}
.btn-default-black:hover{
    color: #ddd;
}

#alertWrap .btn-default-black{
    height: 35px;
    line-height: 35px;
}

/*icon图标*/
.diyIcon,.valicode{
    display: inline-block;
    width: 22px;
    height: 20px;
    background-image: url('../images/diyIcon.png');
    background-repeat: no-repeat;
}

.valicode{
    background-image: url('../images/valicode.png');
}

.images-address {
    background-position: 0 0;
}

.images-avint {
    background-position: 0 -20px;
}

.images-famale {
    background-position: 0 -40px;
}

.images-famale1 {
    background-position: 0 -60px;
}

.images-gander {
    background-position: 0 -80px;
}

.images-home {
    background-position: 0 -100px;
}

.images-key {
    background-position: 0 -120px;
}

.images-male {
    background-position: 0 -140px;
}

.images-male1 {
    background-position: 0 -160px;
}

.images-name {
    background-position: 0 -180px;
}

.images-phone {
    background-position: 0 -199px;
}

.images-user {
    background-position: 0 -219px;
}

.images-vioce {
    background-position: 0 -239px;
}

/*资产管理icon*/
.manager-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('../images/side-icon.png');
    background-repeat: no-repeat;
}

.manager-cash {
    background-position: 0 -60px;
}

.manager-cashAct {
    background-position: 0 -60px;
}

.manager-coin {
    background-position: 0 0;
}

.manager-coinAct {
    background-position: 0 -75px;
}

.manager-secure {
    background-position: 0 -243px;
}

.manager-secureAct {
    background-position: 0 -125px;
}

.manager-trade {
    background-position: 0 -122px;
}

.manager-tradeAct {
    background-position: 0 -175px;
}

/*智慧矿场icon*/
.mine-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/mine-icon.png');
    background-repeat: no-repeat;
}

.mine-childHeart {
    background-position: 0 0;
}


.mine-childHtAct {
    background-position: 0 -25px;
}


.mine-infoBg {
    background-position: 0 -50px;
}

.mine-primaryHeart {
    background-position: 0 -73px;
}


.mine-primaryHtAct {
    background-position: 0 -98px;
}


.topbar{
    background: #242424;
    height: 24px;
    line-height: 24px;
    color: #ddd;
    font-size: 12px;
}
.topbar-inner{
    margin: 0 auto;
    width: 1080px;
}
.topbar-app{
    float: left;
    margin-left: 10px;
    padding-left: 20px;
    width: 320px;
    background: url('../images/topbar-app.png') no-repeat -135px 4px;
}
.icon-androidor, .icon-iosor, .icon-wechator{
    position: relative;
    display: inline-block;
    margin-left: 25px;
    width: 17px;
    height: 24px;
    vertical-align: top;
    background: url('../images/topbar-app.png') no-repeat;
}
.icon-androidor{
    background-position: 0 3px;
}
.icon-iosor{
    background-position: -42px 3px;
}
.icon-wechator{
    background-position: -88px 3px;
}
.icon-androidor:hover{
    background-position: 0 -36px;
}
.icon-iosor:hover{
    background-position: -42px -37px;
}
.icon-wechator:hover{
    background-position: -88px -35px;
}
.pop-download-android, .pop-download-ios, .pop-wechat{
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    padding: 5px 20px;
    text-align: center;
    line-height: 25px;
    color: #000;
    white-space: nowrap;
    z-index: 99;
    background: #fff;
}
.pop-download-android img, .pop-download-ios img, .pop-wechat img{
    width: 100px;
    height: 100px;
}
.icon-androidor:hover .pop-download-android{
    display: block;
}
.icon-iosor:hover .pop-download-ios{
    display: block;
}
.icon-wechator:hover .pop-wechat{
    display: block;
}
.topbar-price{
    float: left;
    width: 460px;
}
.topbar-user{
    position: relative;
    float: left;
    padding: 0 10px;
}
.topbar-user:hover, .topbar-language:hover{
    background: #f1f3f6;
    color: #161616;
}
.topbar-user .arrow, .topbar-language .arrow{
    display: inline-block;
    margin-top: 9px;
    width: 5px;
    height: 5px;
    border-color: #cecece;
    border-width: 0 0 2px 2px;
    border-style: solid;
    transform:rotateZ(-45deg);
    vertical-align: top;
}
.topbar-user:hover .arrow, .topbar-language:hover .arrow{
    margin-top: 10px;
    border-width: 2px 2px 0 0;
}
.topbar-user-detail{
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    background: #f1f3f6;
    padding: 5px;
    width: 260px;
    line-height: 20px;
    color: #514e4e;
    z-index: 99;
}
.topbar-user:hover .topbar-user-detail{
    display: block;
}
.topbar-user-detail-title{
    float: left;
    width: 66px;
    text-align: center;
}
.topbar-user-detail-title span{
    display: inline-block;
    background: #0E8BEC;
    width:56px;
    height: 20px;
    line-height: 20px;
    color: #595657;
    border-radius: 10px;
    text-align:center;
    color:#fff;
}
.topbar-user-detail-content{
    float: left;
}
.topbar-logout{
    float: left;
    padding: 0 5px;
}
.topbar-logout a{
    color: #ddd;
    text-decoration: none;
}
.topbar-logout a:hover{
    color: #ddd;
}
.topbar-language{
    position: relative;
    float: right;
    width: 70px;
    text-align: center;
}
.topbar-lang-detail{
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    width: 70px;
    line-height: 20px;
    text-align: center;
    background: #f1f3f6;
    z-index: 99;
}
.topbar-lang-detail p{
    margin-bottom: 0;
    line-height: 20px;
}
.topbar-lang-detail a{
    display: block;
    width: 100%;
    height: 100%;
    color: #514e4e;
    text-decoration: none;
}
.topbar-lang-detail a:hover{
    background: #e6e6e6;
    color: #1783e8;
}
.topbar-language:hover .topbar-lang-detail{
    display: block;
}
.header{
    background:#FFF !important;
    height: 95px;
}
.header-inner{
    margin: 0 auto;
    width: 1080px;
}
.logo{
    float:left;
}
.logo a{
    display: block;
    font-size: 20px;
    line-height: 54px;
    color: #4E4F51;
    padding: 20px 15px 20px 0;
    text-decoration: none;
}
.logo a i{
    float: left;
    font-size: 40px;
    line-height: 54px;
    color: #238BF6;
}
.header-inner .nav{
    float: right;
}
.header-inner .nav li{
    float: left;
}
.header-inner .nav a{
    position: relative;
    display: block;
    padding:37px 5px;
    line-height: 20px;
    font-size: 12px;
    color: #4E4F51;
    text-decoration: none;
}
.header-inner .nav a:hover{
    color: #0E8BEC;
    text-decoration: none;
}
@keyframes navleft
{
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 80%;
        opacity: 0;
    }
}
@keyframes navright
{
    0% {
        right: 0;
        opacity: 1;
    }
    100% {
        right: 80%;
        opacity: 0;
    }
}
.header-inner .nav li:hover  a:before{
    content: ".";
    display: block;
    position: absolute;
    overflow: hidden;
    top: 25px;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: #0e8bec;
    animation: navleft 1s;
    animation-fill-mode: forwards;
}
.header-inner .nav li:hover a:after{
    content: ".";
    display: block;
    position: absolute;
    right: 0;
    overflow: hidden;
    top: 70px;
    width: 20px;
    height: 1px;
    background-color: #0e8bec;
    animation: navright 1s;
    animation-fill-mode: forwards;
}
.header-inner .nav a:hover{
    color: #0E8BEC;
}
.header-inner .nav .active a{
    color: #0e8bec;
}
.header-inner .nav i{
    position:absolute;
    top:38px;
    right:-5px;
    width:8px;
    height:8px;
    text-align:center;
    line-height:15px;
    background:#F33;
    color:#FFF;
    border-radius:50%;
}
.text-center{
    text-align: center;
}

.why .figure{
    margin: 0;
}

.clearfix .navigation_bar{
    width: 108px;
    position: absolute;
    top: 80px;
    z-index: 9;
    display: none;
    text-align: center;
    box-shadow: #999 0 0 1px;
    border-radius: 4px;
}
.clearfix .navigation_bar ul{
    width: 108px;
    height: 53px;
    margin: 0;
    padding: 0;
}

.clearfix .navigation_bar li{
    width: 108px;
    cursor: pointer;
    padding: 0;
    color: #777577;
    background: #fff;
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.topbar-user-frozen{
    display: none;
    background: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.topbar-user-frozen-tip{
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
}
.topbar-user-frozen-info{
    background: #fff;
    text-align: center;
}
.topbar-user-frozen-info-title{
    float: left;
    width: 100px;
    text-align: right;
}
.topbar-user-frozen-info-content{
    float: left;
    width: 160px;
    text-align: left;
    color: #b2b2b2;
}
.topbar-user-frozen-amount{
    background: #fff;
    text-align: center;
}
.topbar-user-frozen-amount span{
    background: url("../images/icon_yiwen.png") no-repeat;
    display: inline-block;
    margin-left: 5px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.frozen-tip-modal{
    background: rgba(0,0,0,0.5);
}
.frozen-tip-modal .modal-dialog{
    width: 400px;
}
.frozen-tip-modal .modal-title{
    background: #262f37;
    text-align: center;
}
.frozen-tip-modal .btn{
    background: #278bec;
    margin-top: 20px;
    padding: 6px 40px;
    border: none;
    color: #fff;
}


/*GAIA-1162个人中心指标说明样式和飘窗*/
.topbar-user-detail-padnone{
	padding:0;
	width:280px;
}
.topbar-user-detail-top{
	width:260px;
	float:left;
	padding:5px 10px 0;
}
.topbar-user-detail-bot{
	width:260px;
	float:left;
	padding:5px 10px;
	border-top:1px solid #E4E4E4;
}
.topbar-user-detail-content2 p{
	float:left;
}
.opt-tips{
	position:relative;
	float:left;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	border-radius:50%;
	background:#9899a2;
	color:#fff;
	margin:1px 0 0 10px;
	cursor:pointer;
}
.opt-tips:hover .opt-tips-modal{
	display:block;
}
.opt-tips-modal{
	display:none;
	position:absolute;
	left:36px;
	top:-15px;
	width:196px;
	padding:10px 5px;
	background:#fff;
    color: #000;
	text-align:left;
}
.opt-tips-modal-icon{
	position:absolute;
	left:-14px;
	top:14px;
	width: 0;
	height: 0;
	border-right:14px solid #fff;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
}
.topbar-user-detail-bot .topbar-user-detail-deducted:first-child{
	width:100%;
	float:left;
	margin-bottom:10px;
}