@CHARSET "UTF-8";
.bill-title h5{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.bill-condition{
	border: 1px solid #ddd;
	border-bottom: none;
	padding-left: 20px;
	padding-top: 10px;
	height: 30px;
}
.btn-last2day, .btn-before2day{
	display: inline-block;
	margin-left: 10px;
	width: 72px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
}
.bill-condition .selected-date{
	background: #0e8bec;
	color: #fff;
	border-radius: 5px;
}
.bill-data table{
	border: 1px solid #ddd;
	width: 100%;
	text-align: center;
}
.bill-data th{
	background: #ebebeb;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
.bill-data td{
	border-top: 1px solid #ddd;
	line-height: 40px;
}
