@CHARSET "UTF-8";
.main-buycenter{
    /*background: #f0f3f5;*/
    margin: 0 auto;
    padding: 10px;
    width: 1080px;
    font-size: 16px;
}
.wp-status{
    background: #FFF;
    padding: 10px;
    overflow: hidden;
}
.wp-status h5{
    padding-left: 16px;
    line-height: 50px;
    font-size: 20px;
}
.wp-status p{
    padding-left: 16px;
    text-align: left;
    line-height: 50px;
    font-size:16px;
}
.wp-status-total, .wp-status-difficulty, .wp-status-user{
    float: left;    
    height: 127px;
    color: #FFF;
}
.wp-status-total, .wp-status-difficulty{
    background: rgb(45, 53, 59);    
    margin-right: 10px;
    width: 345px;
}
.wp-status-difficulty{
    position: relative; 
}
.wp-status-difficulty span{
    background: url('../images/buy-arrow-up.png') no-repeat 0 13px;
    display:inline-block;
    margin-left:16px;
    padding-left: 20px;
    line-height: 50px;
    font-size: 16px;
}
.wp-status-user{
    background: rgb(45, 53, 59);
    position: relative;
    width: 350px;
}
.wp-status-user span{
    position: absolute;
    right: 5px;
    top:0;
    line-height: 50px;
    font-size: 12px;
}
.wp-attr, .wp-value{
    float: left;
    display: inline;
}
.wp-value{
    margin-left: 10px;
}
.wp-user-value{
    line-height: 30px;
}
.wisdom-package-queue{
    margin-top:10px;
    overflow: hidden;
}
.wisdom-package-img, .wisdom-package-queue-text{
    float: left;
}
.wp-img{
    position: relative;
    float: left;
    border: 1px solid #737f8d;
    width: 251px;
    text-align: center;
}
.wp-img-triangle{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 130px 0 0;
    border-color: #4e5360 transparent transparent transparent;
}

.wp-img-type{
    position: absolute;
    left: 10px;
    top: 25px;
    transform: rotate(-36deg);
    font-size: 14px;
    color: #fff;
}
.wp-img img{    
    width: 228px;
    height: 254px;
}
.wp-img-emergency .wp-img-triangle{
    border-color: #0e8bec transparent transparent transparent;
}
.wp-price-emergency .wp-img-type{
    top: 15px;
    left: 10px;
}
.wisdom-package-queue-text{
    margin-left: 100px;
    margin-top: 50px;   
    line-height: 50px;
}
.wisdom-package-queue-text a{
    margin-left: 20px;
    color: #0e8bec;
}
.wisdom-package-queue-text em{
    padding: 0 1em;
    font-family: Arial;
    font-weight: 700;
}
.wp-price-normal, .wp-price-emergency{
    overflow: hidden;
}
.wisdom-package-buy, .wp-buy-result{
    background:#FFF;
    margin:0 auto;
    line-height: 20px;
    margin-top: 10px;
    padding: 25px 0;
    text-align: center;
    color: #363e44;
}
.wisdom-package-buy{
    position: relative;
    text-align: left;
}
.wisdom-package-buy p,.wp-buy-result p{
    height:38px;
    margin-bottom:15px;
}
.paytype-price-item p{
	line-height:38px;
	margin-bottom:5px;
}
.wisdom-package-buy select{
    vertical-align: middle;
    font-size: 20px;
    top:-6px;
    border: solid 1px #ccc;
    border-radius:0;
    padding:6px 50px 6px 30px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background:#fff url(../images/user/icon_more.png) no-repeat  80% center;
}
.wisdom-package-buy em, .wp-buy-result span{
    font-family: Arial;
    font-weight: 700;
}
.btn-box{ 
	position:relative;
	width: 500px; 
    margin: 10px auto;
    text-align: center;
}
.btn-box .btn-buy-extreme{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:37px;
	font-size:12px;
	font-weight:normal;
	color:#fff;
	cursor:pointer;
}
.btn-buy,.btn-buy-another{
    float: left;
    /*background: url('../images/btn_buy_mp.png') no-repeat;*/
    background: #0e8bec;
    display: inline-block;
    border: none;
    padding:14px 28px;
    color: #FFF;
    font-size:24px;
    font-weight: lighter;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
}
.btn-buy-top{
	padding:8px 28px 21px;
}

.btn-buy{
    display: inline-block;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}
.btn-box:hover .btn-buy{
    background: #29a2ff;
}
.btn-buy:active{
    background: #1289e5;
}
.btn-buy-urgent{
    float: left;
    background: url('../images/greenbtn.png') no-repeat 100% 0;
    display: block;
    padding:5px 0 5px 30px;
    margin-left: 50px;
    border: none;
    width: 192px;
    height: 47px;
    color: #ecf0f0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    line-height: 26px;
}
.btn-buy-urgent:hover{
    background-image: url('../images/greenbtnhover.png');
}
.btn-buy-urgent em{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.btn-buy-another:hover{
    color: #fde560;
    text-decoration: none;
}
.wisdom-package-buy .buy-detail{
	height:auto;
	line-height:normal;
	margin:10px 0 0 0;
	text-align:center;
	font-size:12px;
	color:#999;
}
.buy-detail a{
	color: #0E8BEC;
}

.order-list{
    margin-top:10px;
    padding:10px;
    text-align: center;
    font-size: 12px;
    background: #FFF;
}

.order-list .table-thead,.order-list th{
    background: #262f37;
    padding: 0 5px;
    height: 60px;
    line-height: 60px;
    color: #FFF;
}
.order-list .mod-table{
    position: relative;
    /*overflow: hidden;
    overflow-y: scroll;*/
}
.order-list .mod-table .list-state{
    position: absolute;
    right: 30px; 
    top: -30px;
}
.order-list table{
    border: 1px solid #FFF;
    border-top: none;
    width: 100%;
}
.order-list-tab{
    /*overflow: hidden;*/
}
.order-list-tab li{
    /*background: url('../images/mp_order_tab.png') 0 center no-repeat;*/
    float: left;
    position: relative;
    margin: 0px 5px 5px;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    /*background: #35424F;*/
    color: #333;
    border-radius: 20px;
}
.order-list-tab li:hover{
    color: #0e8bec;
}
.order-list-tab li i{ 
    position: absolute;
    top:-4px;
    right:2px;
    padding:3px 5px;
    border-radius: 20px;
    background: #F84646;
    color: #FFF;
    text-align: center;
    z-index: 100;
    font-size: 12px;
    font-style: normal;
}
.order-list-tab li i:empty{
    display: none;
}
.mod-table-7 tr td i{
    float: left;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    background: #F84646;
    margin: 25px 0 0 10px;
}
.order-list-tab .active{
    background: #0e8bec;
    color: #FFF;
    cursor: default;
}
.order-list-tab .active:hover{
    color: #FFF;
}
.order-list .table-th, .order-list .table-td, .order-list th, .order-list td{
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    text-align: center;
}
.order-list .table-td,.order-list td{
    /*background: #FCFCFC;
    border-right: 1px solid #fff;*/
}
.order-list .table-tr:nth-child(even),.order-list tr:nth-child(even){
    background: #f6f6f6;
}
.order-list .table-th-mpno,.order-list .table-td-mpno{
    width: 27%;
}
.order-list .table-th-mpdate,.order-list .table-td-mpdate{
    width: 13%;
}
.order-list-content .order-table-pager {
    padding: 15px 0;
    font-size: 14px;
    text-align: center;
}
.order-list-content .order-table-pager i{
    color: #9BC2E3;
    font-style: normal;
}
.order-list-content .order-table-pager a{
    padding: 0 10px;
    color: #333;
    text-decoration: none;
}
.order-list-content .order-table-pager a:hover{
    color: #9BC2E3;
    text-decoration: underline;
}
.order-list-content .order-table-pager a.cannot{
    color: #999;
    cursor: default;
}
.order-list-content .order-table-pager .cannot:hover{
    text-decoration: none;
}
.order-list-content .order-table-pager em{
    padding: 0 10px;
}
.btn-open-wrap{
    text-align: center;
}
.modal-header{
    position:relative;
    padding: 0;
}
.modal-title{
    background: #262F37;
    height:30px;
    line-height: 30px;
    padding-left:0;
    color: #fff;
    text-align:center;
    font-size: 14px;
    border-radius:4px 4px 0 0;
}

#vcode-box input[type="text"],#googlecode-box input[type="text"]{padding: 0 5px;}
#vcode-box,#googlecode-box{text-align: center;}
/*手机验证码,和谷歌验证码,input样式调整*/
#vcode-box span,#googlecode-box span{
	padding:0 13px;
}
#vcode-box{
	margin-bottom:8px;
}
.input-vcode{
	width:120px;
	margin-right:0px;
	border-right:none;
}
.input-googlecode{
    width:239px;
	margin-right:0px;
}
.btn-get-vcode{
	border-color:#ccc;
}
.btn-open-package, .btn-trans-package,.btn-buy-mp{
    width:160px;
    background: #0E8BEC;
    display:inline-block;
    border: none;
    height:40px;
    line-height:40px;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    margin-top:20px;
}

.btn-open-package:hover{
    text-decoration: none;
    color: #FFF;
}
.modal-header .close{
    position:absolute;
    right:10px;
    top:0;
    margin-right:0;
}
.modal-mid{
    width:510px;
}
.form-group-mid{
    text-align:left;
    line-height:30px;
    font-size:14px;
}
.form-group-mid-center{
    text-align: center;
    margin:0;
}
.form-group-mid-top{
    font-weight:bold;
    font-size:14px;
}
.form-group-mid-one{
    font-weight:bold;
    font-size:14px;
}
.form-group-mid-two{
    font-size:14px;
    color:#666;
}
.form-group-mid-thr{
    font-weight:bold;
    font-size:18px;
}
.form-group-mid-martop{
    margin-top:10px;
}
.form-group-mid-marbot{
    margin-bottom:10px;
}
.form-group-mobile .glyphicon-search{
    display: inline-block;
    width:36px;
    height:36px;
    padding:2px;
    margin: 0 0 0 5px;
    cursor:pointer;
    vertical-align:middle;
    font-size: 14px;
    line-height: 30px;
    background: url('../images/mine-search-bg.png') no-repeat 50% 7px #0E8BEC;
    background-size: 50%;
    color: #fff;
    border-radius: 5px;
}
#user-name b{
    font-size: 16px;
}
.user-mobile{
    display: inline-block;
    height:37px;
    line-height:37px;
    border:1px solid #ccc;
}
.country-code-img{
    width: 25px;
    transform:translateY(4px);
}
#transMpModal .user-mobile{
    width: 190px;
}
#buyModal{
    text-align: center;
}
#buyModal em{
    color: #4094ed;
}



.btn-country-code{
    background: #fff;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select:none;
}
#country-code{
    display: inline-block;
    width: 40px;
    text-align: center;
}
.trans-fee{
    color: #c00;
}
.recharge-title {
    width: 100%;
    max-width: 1080px;
    height: 35px;
    position: relative;
    margin: 10px auto 0;
    top: 0;
    left: 0;
    line-height: 35px;
    color: #333;
    font-size: 16px;
    letter-spacing: 1px;
    background: #FFF;
}


/*世纪交替掩饰修改  添加*/
.wp-status-pad{
    padding-right:30px;
}
.wp-status-total-top,.wp-status-total-bot{
    padding:14px 16px;
}
.wp-status-total-top{
    border-bottom:1px solid rgba(255,255,255,.1);
}
.wp-status h5{
    margin-bottom:27px;
}
.wp-status-total-top h5{
    padding-left:0;
    line-height:normal;
    margin-bottom:12px;
}
.wp-status-total-top P{
    line-height:normal;
    padding-left:0;
    font-size:14px;
}
.wp-status-total-bot{
    line-height:20px;
    font-size:14px;
}
.wp-status-total-bot h5{
    float:left;
    padding-left:0;
    margin:0 39px 0 0;
    line-height:normal;
}
.iframe-box{
    width:1060px; 
    height:200px; 
    overflow:hidden;
}
.alertcon-title{
    width:100%;
    padding-bottom:10px;
}
.alertcon-title h5{
    font-size:16px;
    margin-bottom:8px;
    word-wrap:break-word;
    text-align:left;
}
.alertcon-title p{
    text-align:left;
    line-height:28px;
}
.buythen-tip{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #adadad;
    color: #fff;
    border-radius: 8px;
    margin: 12px;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}
.buythen-type{
    display: inline-block;
    border: 1px solid #ccc;
    width:110px;
    padding:8px 0px;
    border-radius:2px;
    cursor: pointer;
    text-align:center;
    margin-right: 10px;
}
.buythen-type-on{
    background: url(../images/buy-type-select.png) right bottom no-repeat;
    border-color: #5289f1;
    color: #5289f1;
}
.buythen-count-tip{
    display: none;
    position: absolute;
    top: -22px;
    left: 30px;
    background: #484849;
    padding: 10px;
    line-height: 20px;
    border-radius: 5px;
    cursor: text;
    white-space: nowrap;
    text-align: left;
}
.buythen-count-tip:after{
    position: absolute;
    top: 22px;
    left: -16px;
    content: " ";
    width: 0;
    height: 0;
    line-height: 0;
    border: transparent solid 8px;
    border-right: #484849 solid 8px;
}
.buythen-tip:hover .buythen-count-tip{
    display: block;
}
.buythen-form-label{
    display: inline-block;
    margin-right: 10px;
    width:430px;
    text-align: right;
}
.buythen-mgprice-tip{
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #adadad;
    color: #fff;
    border-radius: 8px;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}
.buythen-mgprice-tip-wrap{
    display: none;
    position: absolute;
    top: 120px;
    left:560px;
    background: #484849;
    padding: 10px;
    line-height: 20px;
    border-radius: 5px;
    cursor: text;
    white-space: nowrap;
    text-align: left;
    font-size: 14px;
    color: #fff;
    z-index:999;
}
.buythen-mgprice-tip-wrap:after{
    position: absolute;
    top: 22px;
    left: -16px;
    content: " ";
    width: 0;
    height: 0;
    line-height: 0;
    border: transparent solid 8px;
    border-right: #484849 solid 8px;
}
.buythen-mgprice-tip-wrap table{
    text-align: center;
}
.buythen-mgprice-tip-wrap td{
    padding: 0 10px;
}

.mps-explain{
	padding:20px 40px 10px;
	text-align:left;
	overflow-x:hidden;
	overflow-y:auto;
}
.mps-explain h3{
	margin-bottom:8px;
	font-size: 14px;
	color: #000000;
}
.mps-explain p{
	margin-bottom:15px;
	font-size:12px;
	color:#000;
	line-height:17px;
}
.alert-mps-kings h3{
	font-size: 18px;
    line-height:2.5;
}
.alert-mps-kings p{
	font-size:12px;
	line-height:2;
	text-align:left;
}
.btn-buy-pay2{
	display:none;
}
.gold-color{
	color:#f4a22c;
}
.color-black{
	color:#000;
}
.top-mp-buy-detail{
	padding-top:12px;
	border-top:1px solid #E7E7E7;
}
.top-mp-buy-detail .buy-detail-top{
	line-height:24px;
	font-size:14px;
	color:#666;
}
.current-mps,.remaining-mps{
	padding-right:36px;
	line-height:24px;
	font-size: 20px;
	color: #333;
}
.wp-status .last-day-total h5{
	margin-bottom:0;
	line-height:normal;
	padding:15px 0 10px 16px;
}
.wp-status .last-day-total p{
	line-height:normal;
	padding:0px 0px 10px 16px;
}
.next-cen-total{
	overflow:hidden;
	border-top:1px solid #ccc;
	line-height:46px;
}
.wp-status .last-day-total .next-cen-total h5{
	float:left;
	margin-right:30px;
	padding-top:11px;
}




