@CHARSET "UTF-8";
html{
    width: 100%;
}
body{
    width: 100%;
    height: 3845px;
    margin: 0;
    background: url(../images/fundNotice/fund-bg-pc.png) no-repeat center;
    background-size: cover;
    /*font-family:"\5b8b\4f53",arial,helvetica,clean,sans-serif;*/
}
.body{
    width: 1218px;
    height: 3676px;
    margin: 0 auto;
    padding-top: 169px;
    position: relative;
}
.head{
    width: 1170px;
    height: 819px;
    background: url(../images/fundNotice/fund-bg-up.png) no-repeat;
    margin: 0 auto;
    padding-top: 41px;
}
.body .main{
    width: 1218px;
    height: 2345px;
    background: url(../images/fundNotice/fund-bg-main.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 750px;
    z-index: 2;
}
.video{
    width: 1070px;
    height: 498px;
    padding-top: 180px;
    display: block;
    margin: 0 auto;
    background: url(../images/fundNotice/fund-video.png) no-repeat;
    background-size: contain;
    position: relative;
}
.video .playvideo{
    width: 90px;
    height: 90px;
    background: url(../images/fundNotice/play-video.png) no-repeat;
    margin: 0 auto;
    cursor: pointer;
}
.video .playvideo:hover{
    background: url(../images/fundNotice/play-video-hover.png) no-repeat;
}
.video .video-title{
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    padding-top: 30px;
}
.main .main-title{
    width: 602px;
    height: 40px;
    font-size: 34px;
    font-weight: bold;
    color: #DABB84;
    padding-bottom: 40px;
    padding-top: 81px;
}
.main .main-text{
    width: 602px;
    height: 1974px;
    margin: 0 auto;
    padding-top: 148px;
    text-align: center;
    color: #7C5C46;
    font-size: 18px;
}
.main .main-text p{
    line-height: 26px;
    padding-bottom: 30px;
}
.main .main-text h3{
    font-size: 20px;
    line-height: 26px;
    color: #DABB84;
    padding-bottom: 10px;
    font-style: italic; 
}
.main .main-text h4{
    font-size: 26px;
    line-height: 26px;
    color: #DABB84;
    font-weight: bold;
}
.body .footer{
    width: 1170px;
    height: 860px;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 73px;
    left: 0;
    right: 0;
    background: url(../images/fundNotice/fund-bg-down.png) no-repeat;
}
.footer-text{
    width: 1090px;
    height: 604px;
    margin: 0 auto;
    padding-top: 190px;
}
.footer-text .text-head{
    width: 1090px;
    height: 223px;
}
.footer-text .text-head h2{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    color: #A88166;
    font-weight: bold;
}
.footer-text .text-head h3{
    width: 100%;
    height: 33px;
    line-height: 33px;
    font-size: 24px;
    color: #A88166;
    padding-top: 24px;
}
.footer-text .text-head li{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #A88166;
    padding-top: 10px;
}
.footer-text .text-head li p{
        width: 98%;
        float: right;
    }
.footer-text .text-head span{
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #A88166;
    border-radius: 4px;
    float: left;
    position: relative;
    top: 6px;
}
.footer-text .text-main{
    width: 1022px;
    height: 252px;
    margin: 0 auto;
    background: url(../images/fundNotice/text-bg.png) no-repeat;
    background-size: contain;
    padding: 24px;
    position: relative;
}
.footer-text .text-footer{
    width: 100%;
    height: 62px;
    position: relative;
}
.text-footer span{
    font-size: 12px;
    color: #A88166;
    position: absolute;
    bottom: 14px;
    left: 14px;
}
.text-footer #upbtn{
    width: 130px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 2px;
    background: #D7CCAE;
    color: #fff;
    font-size: 14px;
    float: right;
    position: relative;
    top: 14px;
    right: 20px;
    cursor: pointer;
    box-shadow: 0px 3px #A58368;
}
.text-footer #upbtn:hover{
    background: #AC8F77;
    box-shadow:0px 2px #A58368;
    top: 16px;
}
.text-main .text-imit{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 12px;
    color: #A88166;
    display: none;
}
.text-main textarea{
    width: 1027px;
    height: 236px;
    border:none;
    outline:none;
    resize:none;
    background: #FCF7F0;
    display: none;
}
.text-main .wrap-text{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding-top: 110px;
    text-align: center;
    font-size: 18px;
    color: #999999;
}
.text-main .wrap-text .btn,.text-main .wrap-text a{
    font-size: 18px;
    color: #A58368;
    padding-top: 3px;
}
.text-main .text-hide{
    display: none;
}
/*确认弹窗*/
.reminder-modal{
    position: fixed;
    top:0;
    left: 0;
    z-index:210; 
    width: 100%;
    height: 100%;
}
.reminder-modal .reminder{
    position: absolute;
    top:50%;
    left: 50%;
    width: 520px;
    height: 333px;
    padding-top: 10px;
    margin-top: -176px;
    margin-left: -260px; 
    background: #F7EEDD;
    border-radius: 6px;
    color: #A88166;
}
.reminder-modal .reminder .reminder-text{
    width: 434px;
    padding-bottom: 55px;
    margin: 0 auto;
}
.reminder-modal .reminder h2{
    font-size: 26px;
    font-weight: bold;
    text-indent:42px;
    padding-top: 98px;
    padding-bottom: 18px;
}
.reminder-modal .reminder p{
    font-size: 16px; 
    line-height: 22px;
}
.reminder-modal .reminder .okbtn{
    width: 434px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    background: #D7CCAE;
}
.reminder-modal .reminder .okbtn:hover{
    background: #A58368;
}
.reminder-modal .reminder-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}
.close-img{
    position: absolute;
    top:12px;
    right: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url('../images/fundNotice/close-modal.png') no-repeat;
    background-size: 100%;
}
.close-img:hover{
    background: url('../images/fundNotice/close-modal-1.png') no-repeat;
    background-size: 100%;
}
/*****分享的图标**/
.at-expanding-share-button[data-position=bottom-right]{
    right: 80px !important;
}
.at-expanding-share-button .at-expanding-share-button-toggle-bg>span{
    background-image: url('../images/fundNotice/addthis-icon.png') !important; 
    background-color: #DABB84 !important;
}
#alertWrap .alert-text {
    min-height: 60px;
    letter-spacing: 1px;
    padding: 10px 40px;
    font-size: 14px;
    line-height: 1.5;
    padding-top: 30px;
}
/*****y移动端 最大1170px*****/
@media screen and (max-width: 1170px) {
    body{
        min-width: 7.5rem;
        width: 100%;
        height: 47.67rem;
        background: url(../images/fundNotice/fund-yd-bg.png) no-repeat;
        background-size: cover;
    }
    .body{
        width: 7.5rem;
        height: 46rem;
        padding-top: 0.77rem;
    }
    .head{
        width: 6.9rem;
        height: 4.41rem;
        background: url(../images/fundNotice/fund-yd-up.png) no-repeat;
        background-size: cover;
    }
    .video{
        width: 7.5rem;
        height: 3.49rem;
        padding:0;
        display: block;
        margin: 0 auto;
        background: url(../images/fundNotice/fund-video-yd.png) no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top:1.06rem;
    }
    #myVideo{
      width: 1px;
      height: 1px;
    }
    .video .playvideo{
        width: 0.64rem;
        height: 0.64rem;
        background: url(../images/fundNotice/play-video.png) no-repeat;
        background-size: cover;
        position: relative;
        top: 1.06rem;
    }
    .video .playvideo:hover{
        background: url(../images/fundNotice/play-video.png) no-repeat;
        background-size: contain;
    }
    .video .video-title{
        font-size: 0.4rem;
        padding-top: 1.4rem;
    }
    .body .main{
        width: 7.5rem;
        height:32rem;
        background: url(../images/fundNotice/fund-yd-main.png) no-repeat;
        background-size: 100% 100%;
        top: 4.81rem;
    }
    .main .main-title{
        width: 100%;
        height: 0.5rem;
        font-size: 0.36rem;
        padding: 0;
        padding-bottom: 0.3rem;
    }
    .main .main-text{
        width: 6.7rem;
        height: 24.4rem;
        padding-top: 2.1rem;
        font-size: 0.28rem;
    }
    .main .main-text p{
        line-height: 0.4rem;
        padding-bottom: 0.3rem;
    }
    .main .main-text h3{
        font-size: 0.24rem;
        line-height: 0.34rem;
        padding-bottom: 0.1rem;
    }
    .main .main-text h4{
        font-size: 0.28rem;
        line-height: 0.34rem;
    }

    /************/
    .body .footer{
        width: 6.9rem;
        height: 10.85rem;
        position: absolute;
        bottom: 0rem;
        left: 0;
        right: 0;
        background: url(../images/fundNotice/fund-yd-down.png) no-repeat;
        background-size: contain;
    }
    .footer-text{
        width: 6.7rem;
        height:9.9rem;
        padding-top: 1rem;
    }
    .footer-text .text-head{
        width: 6.7rem;
        height: 3.86rem;
        padding-bottom: 0.24rem;
    }
    .footer-text .text-head h2{
        width: 6.29rem;
        height: 0.9rem;
        line-height: 0.45rem;
        font-size: 0.32rem;
    }
    .footer-text .text-head h3{
        width: 100%;
        height: 0.33rem;
        line-height: 0.33rem;
        font-size: 0.24rem;
        padding-top: 0.3rem;
    }
    .footer-text .text-head li{
        width: 100%;
        height: 0.52rem;
        line-height: 0.26rem;
        font-size: 0.2rem;
        padding-top: 0.24rem;
    }
    .footer-text .text-head span{
        width: 6px;
        height: 6px;
        display: inline-block;
        background: #A88166;
        border-radius: 3px;
        float: left;
        top: 0.06rem;
    }
    .footer-text .text-head li p{
        width: 97%;
        float: right;
    }
    .footer-text .text-main{
        width: 6.3rem;
        height: 2.92rem;
        background: url(../images/fundNotice/text-yd-bg.png) no-repeat;
        background-size: contain;
        padding: 0.2rem;
        margin: 0 auto;
    }
    .footer-text .text-footer{
        width: 100%;
        height: 1.86rem;
    }
    .text-footer span{
        font-size: 0.2rem;
        left: 0.1rem;
        bottom: 0;
    }
    .text-footer #upbtn{
        width: 6.3rem;
        height: 0.79rem;
        line-height: 0.79rem;
        font-size: 0.28rem;
        float:none;
        margin: 0 auto;
        top: 0.2rem;
        right: 0;
    }
    .text-footer #upbtn:hover{
        background: #AC8F77;
        box-shadow:0px 2px #A58368;
        top: 0.23rem;
    }
    .text-main .text-imit{
        position: absolute;
        right: 0.3rem;
        bottom: 0.5rem;
        font-size: 0.2rem;
    }
    .text-main textarea{
        width: 6.14rem;
        height: 2.4rem;
    }
    /*确认弹窗*/
    .reminder-modal .reminder{
        position: absolute;
        top:50%;
        left: 50%;
        width: 6.75rem;
        height: 3.92rem;
        padding-top: 0.2rem;
        margin-top: -1.7rem;
        margin-left: -3.4rem; 
        border-radius: 6px;
    }
    .reminder-modal .reminder .reminder-text{
        width: 5.5rem;
        padding-bottom: 0.57rem;
    }
    .reminder-modal .reminder h2{
        font-size: 0.34rem;
        text-indent:0.62rem;
        padding-top: 0.83rem;
        padding-bottom: 0.2rem;
    }
    .reminder-modal .reminder p{
        font-size: 0.2rem; 
        line-height: 0.28rem;
    }
    .reminder-modal .reminder .okbtn{
        width: 5.5rem;
        height: 0.86rem;
        line-height: 0.86rem;
        font-size: 0.24rem;
        border-radius: 4px;
    }
    .reminder-modal .reminder-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
    }
    .close-img{
        position: absolute;
        top:0.22rem;
        right: 0.22rem;
        width: 0.2rem;
        height: 0.2rem;
        cursor: pointer;
        background: url('../images/fundNotice/close-modal.png') no-repeat;
        background-size: 100%;
    }
    .text-main .wrap-text{
        width: 100%;
        height: 1rem;
        line-height: 0.4rem;
        padding-top: 1.03rem;
        font-size: 0.28rem;
    }
    .text-main .wrap-text .btn{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .text-main .wrap-text .btn,.text-main .wrap-text a{
        font-size: 0.28rem;
        color: #A58368;
        padding-top: 6px;
    }
    .at-expanding-share-button[data-position=bottom-right]{
        right: 10px !important;
    }
}