.mine-title-wrap a{
	background: #0e8bec;
	float: right;
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}
.mine-title{
	background: url('../images/mine-title-bg.png') no-repeat;
	margin: 0 auto;
	width: 300px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	font-size: 24px;
	color: #232a30;
}
.mine-content{
	background: #00070f;
	color: #fff;
}
.mine-content .g-line{
	padding-top: 10px;
}
.mine-content .m-wrap {
	background: #00070f url('../images/mine-bg.jpg') no-repeat center center;
	margin-left: 170px;
	padding-left: 20px;
	padding-right: 20px;
	overflow:hidden;
	color: #fff;
}
.mine-content .col-s {
	width: 170px;
	height: 800px;
	margin-left: -100%;
}
.mine-side-search{
	background: url('../images/mine-search-bg.png') no-repeat 130px center;
}
.mine-side-search input{
	background: #1b1e21;
	border: none;
	border-radius: 10px;
	padding-left: 10px;
	width: 110px;
	height: 24px;
	line-height: 24px;
	color: #fff;
}
.mine-side-bar{
	border-right: 1px solid #fff;
	padding: 10px 0 10px 5px;
	min-height: 750px;
}
.mine-side-bar li{
	border: 1px solid #00070f;
	padding-left: 41px;
	height: 50px;
	cursor: pointer;
}
.mine-side-bar li:hover h5{
	color: #0e8bec;
}
.mine-side-bar .mine-side-core,.mine-side-bar .mine-side-subcore-2{
	background: #00070f url('../images/mine-side-core.png') no-repeat 5px 8px;
}
.mine-side-bar .mine-side-subcore-3{
	background: #00070f url('../images/node-sub-inactive.png') no-repeat 5px 8px;
	background-size:28px 31px;
}
.mine-side-bar .mine-side-subcore-4{
	background: #00070f url('../images/node-sub-active.png') no-repeat 5px 8px;
	background-size:28px 31px;
}
.mine-side-bar li.active{
	border: 1px solid #fff;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -1px;
}
.mine-side-bar h5{
	height: 24px;
	line-height: 24px;
}
.mine-side-bar span{
	display: inline-block;
	height: 14px;

}
.mine-side-bar .outer{
	background: #01262c;
	width: 60px;
	vertical-align: middle;
}
.mine-side-bar .inner{
	background: #00eeff;
	width: 10%;
}
.mine-status{
	margin: 10px 0 0 0;
	width:100%;
}
.mine-status span{
	padding-left:20px;
	text-align: right;
}
.mine-status table{
	width:700px;
	margin:0 auto;
}
.mine-status td{
	width: 25%;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
}
.mine-status .table-status{
    width: 640px;
    float: left;
    margin:0 0 0 60px;
    border-right: 1px solid #747475;
}
.mine-desc-info-status{
    width:160px;
    float:left;
}
.mine-desc-info-top p{
    text-align:center;
}
.mine-desc-info-top p:nth-child(1){
    line-height:30px;
}
.mine-desc-info-top .child-core-name{
    display:inline;
    text-align:left;
    width:auto;
}
.btn-act-col{
    min-width:40px;
    margin-top:6px;
}
.mine-desc-info-top p .btn-color{
    background:#a3a3a3;
}
.mine-desc-info-top .btn{
    background: #00ffff;
    display: inline-block;
    padding: 0 10px;
    height: 22px;
    line-height: 22px;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
}

.mine-modal .modal-dialog{
	background: #ebebeb;
	border-radius: 5px;
	width:510px;
	color: #000;
}
.mine-modal .modal-dialog-sm{
	width:300px;
}
.mine-modal .modal-header{
	border-bottom: 1px solid #d1d1d1;
}
.mine-modal .modal-title{
	height:30px;
    line-height:30px;
    background: #262F37;
    text-align: center;
    color: #fff;
    border-radius:4px 4px 0 0;
}
.close{
	margin-right:10px;
}
.mine-modal .modal-content{
	background: none;
	border: none;
	border-radius: 0;
}
.mine-modal .modal-body{
	padding-bottom: 0;
}
.mine-modal .form-group{
	margin-bottom: 0;
    padding-bottom: 10px;
    line-height:30px;
}
.text-left{
	text-align:left;
}
.mine-modal .form-group div.clearfix{
	margin: 10px 0;
}
.mine-modal .form-group div span{
	float: left;
	width: 85px;
	text-align: right;
	padding-right: 5px;
}
.mine-modal .form-group div em,.mine-modal .form-group div a{
	width:330px;
	float:right;
	text-align:left;
}
.mine-modal .form-group div a{
	color: #0e8bec;
	text-decoration: none;
	cursor: pointer;
	word-break: break-all;
}
.mine-modal .text-center div{
	padding: 15px 0;
	border-bottom: 1px solid #d1d1d1;
	text-align: left;
}
.mine-modal .text-center span{
	line-height: 20px;
}
.text-center i.success{
	float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 160px;
    border-radius: 20px;
    background: #53BE01;
    color: #FFF;
    font-size: 20px;
    line-height: 40px;
    font-style: normal;
    font-family: "Microsoft Yahei";
    font-weight: lighter;
    text-align: center;
}
.text-center i.success:after{
	 content: "√";
}
.mine-modal .modal-footer{
	border-top: none;
	text-align: center;
}
.mine-modal .btn{
	display: inline-block;
    width:120px;
    border: none;
    height:40px;
    line-height:40px;
    color: #fff;
    text-decoration: none;
    padding:0;
    font-size:14px;
    background:#5A5A5A;
}
.mine-modal .btn:hover{
    opacity:.8;
}
.mine-modal .copy-btn{
	display: block;
	margin: 5px auto;
}
.mine-modal p{
	line-height: 26px;
}
.mine-modal .btn-confirm{
	background: #0E8BEC;
}
.btn-confirm-change-location{
    position:relative;
    top:8px;
    
}
.mine-modal .form-group-lg{
    padding-bottom:20px;
}
.btn-cancel{
	background: #969595;
}
.mine-modal-popularize{

}
.mine-modal-popularize h5{
	margin-bottom: 10px;
	text-align: center;
}
.popularize-copy-tip{
	background: url('../images/copy-ok.png') no-repeat left 4px;
	padding-left: 20px;
	margin-left: 170px;
	text-align: left;
}
.input-invite-code{
	background: #e0e0e0;
	border: 1px solid #dddddd;
	width: 114px;
	height: 24px;
}
.input-mobile-code{
	background: #e0e0e0;
	border: 1px solid #dddddd;
	width: 60px;
	height: 24px;
	vertical-align: middle;
}
.mine-modal-activate #input-payPassword{
	background: #e0e0e0;
	border: 1px solid #dddddd;
	height: 24px;
	vertical-align: middle;
}
.mine-modal-activate .btn-sendcode{
	background: url('../images/btn-mine-send.png') repeat-x;
	border: 1px solid #c2c2c2;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
}
.mine-desc-detail{
	float: left;
	width: 580px;
	height: 1px;
}
.mine-desc-info{
	
}
.mine-desc-info-yellow{
	background: url('../images/mine-info-subcore-yellow.png') no-repeat;
	position: absolute;
	top: 31px;
	left: 31px;
	width: 77px;
	height: 77px;
}
.mine-desc-info-red{
	background: url('../images/mine-info-subcore-red.png') no-repeat;
	position: absolute;
	top: 31px;
	left: 31px;
	width: 77px;
	height: 77px;
}
.mine-desc-detail-title span{
	float: right;
	height: 25px;
	line-height: 25px;
}
.mine-desc-detail-title ul{
	background: #161c24;
	width: 240px;
	border-radius: 10px;
}
.mine-desc-detail-title .mine-tab-indirect{
	width:120px;
}
.mine-desc-detail-title li{
	float: left;
	width: 120px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}
.mine-desc-detail-title .active{
	background: #272c34;
	border-radius: 10px;
	color: #0e8bec;
}
.mine-desc-detail-content{
	background:rgba(255,255,255,0.16);
	margin-top: 10px;
	padding: 10px 0;
	padding-left: 20px;
	border-radius: 10px;
	line-height: 30px;
}
.mine-desc-detail-content table{
	margin:0 auto;
	width: 100%;
}
.mine-desc-detail-content td{
	width: 50%;
}
.mine-desc-detail-col3 td{
	width: 33%;
}
.mine-desc-detail-content span{
	display: inline-block;
	text-align: right;
}
.mine-desc-detail-content p{
	padding-left: 
}
.mine-desc-detail-content .mine-desc-detail-inactive{
	line-height: 60px;
	text-align: center;
}
/*.mine-desc-detail-content-other{
	line-height: 60px;
	text-align: center;
}*/
.mine-desc-info{	
	position: relative;
	float: left;
	margin-top: 35px;
	margin-left: 10px;
	width: 280px;	
}
.mine-desc-info-main{
	background:rgba(255,255,255,0.16);
	padding: 10px;
	width: 200px;
	border-radius: 10px;
	line-height: 30px;
}
.mine-desc-info-main em{
	color: #017a9b;
}
.mine-desc-info-main-user{
	line-height: 20px;
}
.mine-desc-info-op{
	position: absolute;
	background: url('../images/mine-core-bg.png') no-repeat;
	right: 0;
	top: -58px;
	width: 140px;
	height: 140px;
}
.mine-desc-info-icon{
	position: absolute;
	top: 28px;
	left: 28px;
	width: 83px;
	height: 83px;
}
.mine-desc-info-icon-1,.mine-desc-info-icon-111{
	background: url('../images/mine-info-user-inactive.png') no-repeat;
}
.mine-desc-info-icon-2{
	background: url('../images/mine-info-user-active.png') no-repeat;
}
.mine-desc-info-icon-3{
	background: url('../images/mine-info-subcore-inactive.png') no-repeat;
}
.mine-desc-info-icon-4{
	background: url('../images/mine-info-subcore-active.png') no-repeat;
}
.mine-desc-info-op-other .mine-desc-info-icon-3{
	background: url('../images/mine-info-other-inactive.png') no-repeat;
}
.mine-desc-info-op-other .mine-desc-info-icon-4{
	background: url('../images/mine-info-other-active.png') no-repeat;
}
.mine-desc .btn{
	background: #00ffff;
	display: inline-block;
	padding: 0 10px;
	height: 22px;
	line-height: 22px;
	border-radius: 10px;
	color: #000;
	cursor: pointer;
}
.mine-desc .btn-activate{
	position: absolute;
	top: 95px;
	left: 40px;
	z-index: 99;
	text-align: center;
	min-width: 40px;
}
.mine-user-info{
	position: absolute;
	bottom: 50px;
	width: 140px;
	text-align: center;
	font-size: 14px;
}
.mine-user-position{
	position: absolute;
	bottom: 20px;
	width: 140px;
	text-align: center;
	font-size: 14px;
}
.mine-activate-mobile-tip{

}
.mine-activate-mobile-tip span{
	visibility: hidden;
}
.mine-activate-mobile-tip em{
	color: #0e8bec;
}
.mine-invite-tip{
	line-height: 30px;
    text-align: center;
}
.mine-modal .modal-dialog-mid{
	width:360px;
}
.from-group-cap{
	font-size: 14px;
	color: #999;
	line-height:20px;
	padding:0 0 12px 0;
	overflow:hidden;
}
.from-group-cap p{
	float:left;
	min-width:140px;
	margin-right:38px;

}
.from-group-cap span{
		color:#000;
}
.note-not-enough{
	font-size: 14px;
	color: #DD5050;
}
.note-not-enough::before {
	content: "!";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border: 1px solid #DD5050;
	border-radius: 10px;
	font-size: 12px;
	color: #DD5050;
}
.mine-desc-info-main-indirect{
	line-height:20px;
}
#documentAlertMark{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background:rgba(0,0,0,.5);
	display: none; 
}
