@CHARSET "UTF-8";

.bd-inner{
	background: #edeef3;
}

.query_head{
	width: 100%;
	box-sizing: border-box;
	line-height:80px;
	text-align: center;
	color: #000;
	font-size: 18px;
	margin-top:10px;
}
.query_head_con{
	width:100%;
	background: #fff;
}
.query_head_con_soso{
	width:360px;
	height:69px;
	position:relative;
	margin-left:370px;
	margin-right:330px;
	padding-top:31px;
}
.query_head_con_soso_warn{
	position:absolute;
	left:0;
	top:76px;
	margin:0;
	line-height:normal;
	font-size:12px;
	color:#D25247;
	line-height:14px;
    display:none;
}
.query_head_con_soso_warn em{
	display:block;
	float:left;
	width:16px;
	height:16px;
	margin-right:5px;
	text-align:center;
	line-height:16px;
	transform:scale(0.78) translateY(-3px);
	border:1px solid #D25247;
	border-radius:50%;
	color:#D25247;	
}
.query_head_con_tit{
	position:absolute;
	right:373px;
	line-height:38px;
	color:#333;
	font-size:14px;
	white-space:nowrap;
}
#alert{
	width: 600px;
	height: 48px;
	color: red;
	padding-left: 25%;
	text-align: left;
	
}
#que_text{
	width:283px;
	height:36px;
	border: 1px solid #84b2d5;
	border-right:none;
	font-size: 12px;
	color: #676767;
	padding-left:12px;
	float:left;
	outline:none;
}
#que_btn{
	width:64px;
	height: 38px;
	background: #0e8bec url(../images/sou.png) no-repeat center;
	border: none;
	padding: 0;
    color: #0e8bec;
    cursor:pointer;
    float:left;
    outline:none;
}
#que_btn:active{
	background-color:#0e8fff;
}
.query_head_con_switch{
	position:absolute;
	top:12px;
	right:-308px;
	font-size:14px;
	line-height:1.4;
	color:#0E8BEC;
	text-decoration:none;
}
.query_head a:hover{
	color:#53a6e7;
}
.que_body{
	width: 100%;
	box-sizing:border-box;
	margin-top: 10px;
	background:#f0f3f5;
	color: #000;
	position: relative;
}
.que_body_con{
	width:100%;
	min-height:600px;
}
.body_bod{
	width: 100%;
	box-sizing:border-box;
	padding:0 10px;
	height:65px;
	line-height:65px;
	background:#fff;
}

.que_body .body_left{
	display: inline-block;
	line-height:20px;
	padding-left:12px;
	font-size:16px;
	color: #000;
	border-left:3px solid #000;	
}
.body_right{
	position: absolute;
    width:390px;
	display: inline-block;
	right:15px;
	top:22px;
	line-height:normal;
}
.body_right ul{
	float:left;
}
.body_right ul li{
	float:left;
}
.body_right ul li:nth-child(2){
	margin:0 0 0 7px;
}
.body_right .Wdate{
	width: 104px;
}
.body_right select{
	width:70px;
	float:left;
	margin:3px 0 0 10px;
}
#body_btn{
	width:60px;
	height:24px;
	border: none;
	border-radius: 2px;
	background: #0e8bec;
	color: #fff;
	font-size: 10px;
	margin-left:10px;
}

.que_body_tab{
	width: 100%;
}

.que_body_tab .tab_title{
	width: 100%;
	height:50px;
	background: #242a30;
	color: #e2e6e8;
}
.que_body_tab .tab_title li{
	float: left;
    text-align: center;
    height:50px;
    line-height:50px;
    padding-left: 1px;
}
.width1{
	width:60px ;
	position:relative;
}
/*有备注时的width2:160px;width3:160px;width4:115px;width5:115px;width6:100px;width7:70px;width8:70px;width9:200px;*/
.width2{
	width: 200px; 
	display: flex;
    word-break: break-all;
    line-height: normal !important;
    justify-content: center;
    align-items: center;
	} 
.width3{width: 200px ; } 
.width4{width: 150px ; } 
.width5{width: 150px ; }
.width6{width: 120px ; }
.width7{width: 80px ; }
.width8{width: 80px ;}
 .width9{
 	width:200px;
 	display: flex;
    word-break: break-all;
    line-height: normal !important;
    justify-content: center;
    align-items: center;
    flex-direction:column;
 }
 .width9 p{
 	white-space:nowrap;
 	line-height:20px;
 }
 .width9 a{
 	line-height:20px;
 	color:#0E8BEC;
 	cursor:pointer;
 }
  .width9 a:hover{
  	text-decoration:underline;
  }
.border_jiao{
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:0;
	line-height:normal;
	border-style: solid;
	border-width: 30px 30px 0 0;
	border-color:#F76C6C transparent transparent transparent;
}
.border_jiao:before{
	content:'!';
	position:absolute;
	left:9px;
	top:-27px;
	line-height:normal;
	color:#fff;
}
/*.que_body_tab .tab_title .width3 span{
	width: 100%;
	display: block;
	height: 20px;
	line-height: 20px;
}*/
.span1{
	padding-left:5px;
	color: #0e8bec;
	cursor:pointer;
}
.span2{
	display:block;
	float:left;
	width:105px;
	height:40px;
	text-align:center;
	line-height:40px;
	background:#0E8BEC;
	color:#fff;
	cursor:pointer;
}
.que_foot .foot_tab{
	width: 100%;
	height: 66px;
	background: #F6F6F6;
	position: relative;
	color: #1f1f1f;
}
.que_foot .foot_tab.bg_dark{
	background:#D4D4D4 !important;
}
.foot_tab .foot_ul{
	width: 100%;
	height: 66px;
}
.que_foot .foot_tab.bg_color{
	background: #fff;
}
.que_foot .foot_tab:hover{
	background:#d4d4d4;
}
.foot_tab .foot_ul #tab_btn{
	cursor: pointer;
	color: #dddddd;
	font-size: 12px;
	color: #000;
}

.foot_tab .foot_ul li{
	float: left;
    text-align: center;
    height: 65px;
    line-height: 65px;
}

#foot_div{
	width: 100%;
	height:383px;
	background: #f0f3f5;
	margin-bottom:65px;
}
#foot_div .min_title{
	width: 1000px;
	height: 32px;
	padding-left:68px;
    padding-top: 32px;
}


#min_main{
	widows: 100%;
	height: 284px;
	background: #fff;
    position: relative;
    z-index: 999;
}

#alertWrap .alert-cancel{
	margin-left: 10px;
}
.no_body_html{
	width: 100%;
	font-size: 24px;
	height: 80px;
	line-height: 80px;
	text-align: center;
}

#mywrap{
	width: 100%;
	height:7120px;
	background: #000;
	left: 0;
	top: 0;
    position: absolute;
    display: none;
	z-index: 1;
	opacity: 0.3;
	z-index:9999;
}
#pager-text,#head_foot-text{

	width: 60px;
	height: 22px;
}
#pager-btn,#head_foot-btn{
	display: inline-block;
    width: 50px; 
    height: 26px;
    font-size: 10px;
    padding: 0;
}
#my_foot_page strong{
	font-weight: normal;
}
.opt_time{
	 display: inline-block;
	 float:right;
	 margin-right:70px;
}
.opt_time_global{
	display: inline-block;
	float:left;
	margin-left:130px;
}
.opt_tit{
	float: left;
}
.opt_med{
	display: inline-block;
    float:left;
    position: relative;
    margin-left: 150px;
}
.table-pager1{
	padding: 15px 0;
	text-align: center;
	font-size: 14px;
}
.noclick{
  pointer-events:none;
}

/*GAIA-799样式修改*/
.page-title .tit-center{
	padding-left:0;
	text-align:center;
	color:#000;
}
.opt_posi_con{
	position:absolute;
	right:47px;
	top:12px;
	z-index:1000;
}
.opt_tips{
	display:block;
	width:20px;
	height:20px;
	border-radius:50%;
	background:#9899a2;
	color:#fff;
	text-align:center;
    line-height:20px;
    float:left;
    margin:10px 0 0 18px;
    font-family: arial;
    font-size:14px;
}
.opt_tips[data-tooltip]:after {
	border-bottom: 16px solid #1B2A4B;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: "";
	display: none;
	height: 0;
	width: 0;
	left: 85%;
	position: absolute;
}

.opt_tips[data-tooltip]:before {
	background:#1B2A4B;
	color: #f6f6f6;
	content: attr(data-tooltip);
	display: none;
	font-size:12px;
	width:192px;
	right:-55px;
	text-align:left;
	padding:10px 8px;
	position: absolute;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.opt_tips[data-tooltip]:hover:after {
	display: block;
	top:34px;
}

.opt_tips[data-tooltip]:hover:before {
	display: block;
	top:50px;
}

.opt_tips[data-tooltip]:active:after {
	top: -10px;
}

.opt_tips[data-tooltip]:active:before {
	top: -42px;
}
.query_head_con_nav{
	width:100%;
	border-bottom:1px solid #e9e9e9;
}
.query_head_con_nav_ul{
	height:54px;
	padding-top:16px;
	padding-left:25px;
}
.query_head_con_nav_ul li{
	float:left;
	line-height:normal;
}
.query_head_con_nav_ul li a{
	display:block;
	height:38px;
	line-height:38px;
	padding:0 18px;
	margin:0 5px;
	font-size:14px;
	color:#666;
	border-radius:20px;
	text-decoration:none;
}
.query_head_con_nav_ul li a.actColor{
	color:#fff;
	background:#0E8BEC;
}
.query_head_con_nav_ul li a.actColor:hover{
	color:#fff;
	background:#29A2FF;
}
#textCon{
	box-sizing: border-box;
	width:100%;
	height:160px;
	padding:10px;
	border:1px solid #ccc;
	font-size:14px;
	color:#333;
	outline:none;
	resize:none;
}

.text-left{
	text-align:left;
	line-height:24px;
	font-size:14px;
	color:#333;
	padding-bottom:6px;
}
.modal-dialog-mid{
	width:510px;
}
.modal-dialog-sml{
	width:390px;
}
.modal-body-mid{
	padding: 10px 20px 20px 20px;
}
.btn-marg{
	margin-top:10px;
}
.query_notice{
	box-sizing: border-box;
	width:100%;
	padding:0 10px;
	height:164px;
	padding-bottom: 10px;
	margin-bottom:10px;
	background: #FFF;
}
.query_notice_left{
	width:545px;
	height:100%;
	float:left;
	position:relative;
	background:url(../images/deduct-query-bg.png) no-repeat;
}
.query_notice_right{
	width:505px;
	padding-left:50px;
	height:100%;
	float:left;
	background:url(../images/deduct-query-bg2.png) no-repeat;
	margin-left:-40px;
}
.query_notice_tit{
	height:32px;
	text-align:center;
	margin:48px 0 20px 0;
	font-size: 20px;
	color: #FFFFFF;
	font-family: PingFangSC-Medium;
}
.query_notice_state{
	text-align:center;
	font-size:14px;
	color: #FFFFFF;
	font-family: simsun;
}
.query_notice_remarks{
	position:absolute;
	left:8px;
	bottom:10px;
	opacity: 0.7;
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #FFFFFF;
	transform:scale(0.833) translate(-35px,4px);
}
.icon-succeed{
	display:block;
	width:36px;
	height:36px;
	margin:6px auto;
	line-height:36px;
	text-align:center;
	border-radius:50%;
	background:#88c839;
	font-size:12px;
	color:#fff;
	font-family:"微软雅黑";
}
.icon-succeed::after{
	content:'√';
}
.text-succeed{
	font-size: 14px;
	color: #333333;
	text-align:center;
}
.notes-succeed{
	text-align:center;
	font-size: 12px;
	color: #666666;
}
.btn-lg{
	width:160px;
}
.btn-lg-color{
	background:#999;
}
.btn-mid-color{
	background:#0E8BEC;
}
.timebar{
	margin-left:-80px;
	width: 315px;
	height:24px;
}
.span1:hover{
	color:red;
}
.data-no{
	text-align:center;
	color:#333;
	font-size:16px;
}
.data-no em{
	display:block;
	width:40px;
	height:40px;
	margin:30px auto 10px;
	background:url(../images/user/icon_nodata.png) no-repeat;
}
