.bg_div{
    width:100%;
    min-height: 996px;
    background:#fff;
    position:relative;
}
.mgopen_top{
    width:100%;
    height:211px;
    background:url(../images/mgopen-top-bg.png) no-repeat;
}
.mgopen_top h1{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    float:left;
    line-height:68px;
    color: #333;
    font-size: 48px;
    padding-top: 45px;
    border-bottom:4px double #979797;
}
.mgopen_top h1 em{
    position:absolute;
    bottom:-4px;
    left:50%;
    transform:translateX(-50%);
    width:720px;
    height:2px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}
.mgopen_time{
    width:100%;
    height:34px;
    margin-top:40px;
    float:left;
}
.mgopen_time p{
    height:34px;
    float:left;
    line-height:34px;
    padding:0 10px 0 15px;
    background:#fff;
    font-size: 24px;
    color: #9B9B9B;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}
.mgopen_beauti_btn{
    width:100%;
    height:57px;
    position:absolute;
    left:0;
    top:185px;
    z-index:999;
}
.mgopen_beauti_btn em{
    display:block;
    width:15px;
    height:57px;
    position:absolute;
    top:0;
    background:url(../images/mgopen-ring.png) no-repeat;
}
.mgopen_beauti_btn_left{
    left:80px;
}
.mgopen_beauti_btn_right{
    right:80px;
}
.mgopen_con_boxBg{
    background:url(../images/mgopen-con-bg.png) no-repeat;
    background-size:100% 100%;
}
.mgopen_con{
    width:100%;
    box-sizing:border-box;
    padding:60px 50px 330px;
    overflow:hidden;
    margin-top:10px;
    background:url(../images/mgopen-mont.png) no-repeat left bottom;
    position:relative;
}
.cut_0ff_line{
    width:100%;
    height:1px;
    border-top:1px solid #979797;
    position:relative;
}
.cut_0ff_line b{
    position:absolute;
    width:5px;
    height:5px;
    background:#979797;
    border-radius:50%;
    top:-3px;
}
.cut_0ff_line_left{
    left:-3px;
}
.cut_0ff_line_right{
    right:-3px;
}
.div_body{
    height:150px;
    width: 100%;
}
.div_count{
    float: left;
    height: 150px;
    line-height:150px;
    text-align:right;
    font-size: 30px;
    color: #333333;
}
.div_count_right{
    height:95px;
    float:right;
    padding-top:55px;
    padding-right:15px;
}
.bodybg_text{
    line-height:20px;
    text-align:right;
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #333;
}
.mg_total{
    height: 68px;
    line-height:88px;
    font-size: 48px;
    color: #008EEF;
    text-align: right;
    letter-spacing:4px;
    font-family:"微软雅黑";
}
.div_count_font_sm{
    font-size:24px;
}
.mg_total_font_sm{
    font-size:36px;
    color:#333;
    font-family:"微软雅黑";
}
.accounts-publish{
    font-family:"微软雅黑";
    position: relative;
    background: url("../images/account-publish.png") no-repeat;
    height: 1995px;
    text-align: center;
}
.accounts-publish h3{
    display: inline-block;
    background: url("../images/account-publish-title.png") repeat-x center bottom;
    text-align: center;
    height: 73px;
    line-height: 73px;
    padding-top: 40px;
    font-size: 48px;
}
.accounts-publish-date{
    margin-top: 26px;
    text-align: center;
    color: #008EEF;
    font-size: 24px;
}
.accounts-publish-item{
    position: absolute;
    left: 315px;
    top: 220px;
    padding: 18px;
    width: 414px;
    height: 137px;
    font-size: 24px;
}
.accounts-publish-item h4{
    margin: 0;
    line-height: 40px;
    text-align: left;
}
.accounts-publish-item p{
    position: absolute;
    bottom: 16px;
    width: 414px;
    margin-top: 45px;
    text-align: right;
    line-height: 50px;
    font-size: 36px;
}
.accounts-publish-mnTotal{
    text-align: center;
}
.accounts-publish-mnTotal{
}
.accounts-publish-mnTotal h4{
    line-height: 50px;
    text-align: center;
    font-size: 36px;
}
.accounts-publish-mnTotal p{
    margin-top: 20px;
    line-height: 70px;
    text-align: center;
    font-size: 48px;
}
.accounts-publish-mgExtractTotal{
    left: 45px;
    top: 487px;
    font-size: 30px;
}
.accounts-publish-mgApprovedTotal{
    left: 586px;
    top: 487px;
    font-size: 30px;
}
.accounts-publish-mgMindassetTotal{
    left: 45px;
    top: 754px;
}
.accounts-publish-mgExtractCirculateProportion{
    left: 45px;
    top: 952px;
}
.accounts-publish-mgGlobalTotal{
    left: 586px;
    top: 859px;
}
.accounts-publish-mgCirculateTotal{
    left: 586px;
    top: 1219px;
}
.accounts-publish-firstCBlockInterval{
    left: 45px;
    top: 1219px;
}
.accounts-publish-mgCirculateTotal2{
    left: 45px;
    top: 1464px;
    width: 954px;
    height: 160px;
}
.accounts-publish-mgCirculateTotal2 h4{
    line-height: 50px;
    text-align: center;
    font-size: 36px;
}
.accounts-publish-mgCirculateTotal2 p{
    position: relative;
    bottom: auto;
    width: 954px;
    margin-top: 5px;
    line-height: 70px;
    font-size: 48px;
    text-align: center;
}
.accounts-publish-mgCirculateTotal2 .accounts-publish-mgCirculateTotal2-percent{
    line-height: 30px;
    font-size: 24px;
}