body{
   font:12px/1.231 "PingFang SC","Hiragino Sans GB",'Microsoft YaHei',arial, helvetica,"\5b8b\4f53", sans-serif;
}
.wrap{
	background:#fff;
}
.open-mg-main{
	background:url(../images/mg-open-group.png) no-repeat center top;
}
.open-mg-main-sub{
	width:100%;
	min-height:800px;
	padding:72px 0 88px 0;
	background:transparent;
	transition:all 0.5s;
}
.bg-color{
	background:#238BF6;
}
.open-mg-main-inner{
    width: 1170px;
    margin: 0 auto;
    position:relative;
}
.open-mg-title{
	margin-bottom:25px;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 36px;
	text-align:center;
}
.open-mg-time{
	margin-bottom:66px;
	font-size: 24px;
	line-height:34px;
	color: #FFFFFF;
	text-align:center;
}
.open-mg-main-bot{
	position:absolute;
	left:50%;
	top:160px;
	margin-left:-270px;
	width:540px;
	height:540px;
	box-sizing:border-box;
	padding:180px 150px;
	text-align:center;
	background:url(../images/open-mg-ring.png) no-repeat;
	background-size:100% 100%;
}
.open-mg-main-bot-num{
	font-size: 48px;
	color: #FFFFFF;
}
.open-mg-main-bot-note{
	font-size: 24px;
	color: #FFFFFF;
	margin:20px 0px 30px;
}
.open-mg-main-bot-link{
    display:inline-block;
	padding:10px 70px;
	font-size: 16px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
    border-radius:2px;
    text-decoration:none;
	cursor:pointer;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }

  100% {
    opacity:1;
  }
}
.pulse{
  animation: fadeOut 0.5s forwards;
}
.bounce{
  animation: fadeIn 0.5s  forwards 0.2s;
}
.open-mg-nav{
	display:flex;
	overflow:hidden;
}
.open-mg-nav li{
	flex:1;
	float:left;
	min-height:75px;
	text-align:left;
	position:relative;
	cursor:pointer;
}
.open-mg-nav li p{
	padding:0 16px;
	position:relative;
	line-height:20px;
	font-size: 18px;
	color:#FFF;
	letter-spacing: 1.12px;
	text-align:left;
}
.list-prompt{
	position:relative;
	top:1px;
	font-size:20px;
	cursor:pointer;
}
.open-mg-nav li .list-prompt span{
	display:none;
	width:360px;
	position:absolute;
	left:-96px;
	top:32px;
	padding:15px;
	font-size:12px;
	line-height:16px;
	color:#fff;
	background:rgba(0,0,0,0.8);
	border-radius:8px;
	z-index:999;
}
.open-mg-nav li .list-prompt span::before{
	content:'';
	display:block;
	position:absolute;
	top:-10px;
	left:100px;
	width: 0;
    height: 0;
    border-bottom: 10px solid rgba(0,0,0,0.8);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
.open-mg-nav li .list-prompt:hover span{
	display:block;
}
.open-mg-nav li span{
	/*width:100%;*/
	position:absolute;
	left:20px;
	bottom:0;
	/*transform:translateX(-50%);*/
	font-size: 30px;
	color: #FFF;
	letter-spacing: 1.87px;
	line-height: 30px;
}
.open-mg-nav li em{
	width:1px;
	height:50px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-25px;
	border-left:1px solid #fff;
}
.account-tree{
	position:relative;
	clear:both;
	width:100%;
	height:877px;
	padding:125px 123px 0 123px;
	margin-left:-123px;
	background:url(../images/bit-map.png) no-repeat center bottom;
}
.tree-node1{
	float:left;
	position:absolute;
	top:490px;
	left:163px;
	width:205px;
	height:90px;
	padding:75px 0 40px;
	text-align:center;
	background:#fff url(../images/tree-node1.png) no-repeat;
	background-size:100% 100%;
	border-radius:50%;
	cursor:pointer;
	z-index:999;
}
.tree-node1:hover{
	background:#fff url(../images/tree-node1.png) no-repeat;
	background-size:100% 100%;
}
.tree-node1 p{
	margin-bottom:12px;
	font-size: 12px;
	color: #238BF6;
}
.tree-node1 h5{
	font-size: 34px;
	color: #238BF6;
	line-height: 36px;
}
.tree-node2{
	position:relative;
	top:53%;
	transform:translateY(-50%);
	padding-left:120px;
	float:left;
}
.tree-line{
	position:absolute;
	left:0;
	width:120px;
	height:calc(100% - 60px);
 	box-sizing:border-box;
 	margin:30px 0 ;
 	border-radius:20px 0 0 20px;
 	border:2px solid #D8D8D8;
 	border-right:none;
 	overflow:hidden;
}
.tree-node2-1 , .tree-node2-2{
    padding:10px 13px;
    line-height:normal;
	font-size:35px;
	text-align:center;
	color:#4A4A4A;
	border-radius:31px;
	border:1px solid #4A4A4A;
	background:#fff;
}
.tree-node2-2{
	margin-top:420px;
}
.tree-child2{
	padding-left:15px;
}
.tree-node2-box{
	float:left;
	height:100%;
	padding-left:140px;
}
.tree-node3-box,.tree-node4-box{
	box-sizing:border-box;
	float:left;
	width:370px;
	height:100%;
}
.tree-node3-box{
	padding-top:110px;
	margin-left:10px;
}
.tree-node4-box{
	width:423px;
	padding-top:75px;
	margin-left:10px;
}
.tree-node3-1,.tree-node4-1{
 	float:left;
 	position:relative;
 	padding-left:34px;
 }
.tree-node4-1{
	margin-bottom:30px;
}
.tree-node3-2{
	float:left;
 	position:relative;
 	padding-left:34px;
 	margin-top:102px;
 }
 .tree-line2{
 	display:block;
 	width:34px;
 	height:calc(100% - 64px);
 	box-sizing:border-box;
 	margin:32px 0 ;
 	border-radius:20px 0 0 20px;
 	border:2px solid #D8D8D8;
 	border-right:none;
 	overflow:hidden;
 	position:absolute;
 	left:0;
 }
 .tree-child3-1,.tree-child3-2,.tree-child4-1{
 	float:right;
 	width:330px;
 	height:100%;
 	padding-left:5px;
 }
 .tree-child3-1 li, .tree-child3-2 li,.tree-child4-1 li{
 	position:relative;
 	width:100%;
 	height:60px;
 	box-sizing:border-box;
 	border:1px solid #4A4A4A;
 	border-radius:77px;
 	font-size:12px;
 	color:#4A4A4A;
 	font-weight:bold;
 	letter-spacing:0.75px;
 	background:#fff;
 	cursor:pointer;
 }
 .tree-child3-1 li:hover, .tree-child3-2 li:hover,.tree-child4-1 li:hover{
 	background:#F3F3F3;
 }
.tree-child3-1 li, .tree-child3-2 li{
  	padding-left:66px;
  	line-height:60px;
}
.tree-child4-1 li{
	padding:12px 20px;
}
.tree-child4-1 li p{
	margin-bottom:12px;
}
.tree-child4-1 li span{
	float:right;
}
 .tree-child3-1 li.tree-node3-1-2{
 	margin:110px 0;
 }
 .tree-node3-1-2::before{
 	content:'';
 	position:absolute;
 	left:-38px;
 	top:28px;
 	width:30px;
 	height:2px;
 	background:#D8D8D8;
 }
 .tree-child3-1 li:first-child, .tree-child3-2 li:first-child,.tree-child4-1 li:first-child{
 	margin:5px 0 10px 0;
 }
 .tree-child3-1 li:last-child, .tree-child3-2 li:last-child,.tree-child4-1 li:last-child{
 	margin:10px 0 5px 0;
 }
 /*.tree-child3-1 li::before, .tree-child3-2 li::before{
 	position:absolute;
 	left:11px;
 	top:9px;
 	font-size:38px;
 	color:#4A4A4A;
 	line-height:normal;
 	font-weight:normal;
 }*/
.tree-child4-1{
    width:384px;
}
.open-mg-main-bot2{
	display:none;
	transition:all 2s;
}
.tree-child3-2 .margin-bot{
	margin-bottom:40px !important;
}
.mg-open{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	z-index:9999;
	display:none;
}
.modal-content-mg{
	position:absolute;
	left:50%;
	top:50%;
	width:650px;
	min-height:200px;
	box-sizing:border-box;
	padding:30px 30px 45px;
	border-radius:10px;
	transform:translate(-50%,-50%);
	background:url(../images/mg-open-modal-bg.png) no-repeat;
	background-size:cover;
}
.close-btn{
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	width:20px;
	height:20px;
	font-size:20px;
	cursor:pointer;
}
.close-btn:hover{
	color:#238BF6;
}
.modal-title-mg{
	overflow:hidden;
	margin:15px 0 10px;
	font-size: 24px;
	color: #4A4A4A;
	letter-spacing: 1.5px;
}
.modal-title-mg h3{
	float:left;
	max-width:430px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.modal-title-mg span{
	float:right;
}
.modal-subtitle-mg{
	width:100%;
	float:left;
	margin:20px 0 12px;
	font-size: 14px;
	color: #4A4A4A;
	letter-spacing: 0.87px;
}
.modal-subtitle-mg h5{
	float:left;
}
.modal-subtitle-mg span{
	float:right;
}
.mgopen-content-note{
	font-size:14px;
	color:#999999;
	letter-spacing:0.6px;
	clear:both;
}
.mgopen-property{
	clear:both;
	overflow:hidden;
	margin:30px 0 0 0;
}
.mgopen-property-title{
	width:100%;
	overflow:hidden;
	position:relative;
	display:flex;
}
.mgopen-property-title h4{
	float:left;
	padding-left:6px;
	border-left:4px solid #4A4A4A;
	font-size: 18px;
	color: #4A4A4A;
	letter-spacing:1.12px;
	flex-grow: 0;
}
.mgopen-property-title b{
	margin:9px 0 0 20px;
	height:1px;
    border-bottom:1px dashed #4A4A4A;
    flex-grow:1;
}
.mgopen-property-pow,.mgopen-property-pos,.mgopen-property-develop,.mgopen-property-trains{
	width:100%;
	box-sizing: border-box;
	padding:0 15px 15px;
	margin-top:10px;
	background: #FFFFFF;
	border: 1px solid rgba(150,150,150,0.30);
	border-radius:2px;
	overflow:hidden;
	cursor:pointer;
}
.mgopen-property-develop:hover,.mgopen-property-trains:hover{
	background:#EBEBEB;
}
.mgopen-scale li{
	float:left;
	cursor:pointer;
}
.mgopen-scale{
	margin:55px 0 0 0;
}
.mgopen-scale li div{
	width:50px;
	height:50px;
	padding:0 67px 10px;
}
.mgopen-scale li div.charts-gaia{
	border-left:1px solid #D8D8D8;
	border-right:1px solid #D8D8D8;
}
.mgopen-scale li div.charts-vote{
	border-left:1px solid #D8D8D8;
}
.mgopen-scale li p{
	padding:8px 0 0 0;
	font-size: 14px;
	color:#9B9B9B;
	letter-spacing:0.87px;
	text-align:center;
	line-height:20px;
}
.mgopen-scale li:hover p{
	color: #238BF6;
}
.brn-back{
	float:left;
	margin:0 5px 0 0;
	color:#4A4A4A;
	font-size:24px;
	font-weight:bold;
	line-height:29px;
	cursor:pointer;
}
.brn-back:hover{
	color:#238BF6;
}
.modal-promotion-list{
	margin:10px 0;
}
.modal-promotion-list2{
	margin:6px 0;
}
.modal-promotion-list2 h5{
	color:#9B9B9B;
}
.modal-promotion-list2 span{
	color:#9B9B9B;
}
.mgopen-margin{
	margin:0 0 15px 0;
}
.mgopen-margin-sm{
	margin:0 0 5px 0;
}
.modal-Undraw-list{
	width:100%;
	overflow:hidden;
	margin:15px 0 0 0;
}
.modal-Undraw-list li{
	width:100%;
	clear:both;
	padding:6px 0;
	overflow:hidden;
	font-size: 14px;
	color: #9B9B9B;
	letter-spacing: 0.87px;
}
.modal-Undraw-list li:first-child{
    color:#4A4A4A;
}
.left{
	float:left;
}
.right{
	float:right;
}
.vote-progress-box{
	width:100%;
	height:8px;
	background:#D8D8D8;

}
.vote-progress{
	float:left;
	display:inline-block;
    width:248px;
    height:100%;
    background-image: linear-gradient(90deg, #238BF6 0%, #10DBFE 100%);
}
.margin-vote{
	margin:20px 0 10px 0;
}
.content-info-list{
	width:100%;
	margin-top:15px;
}
.content-info-list li{
	width:100%;
	float:left;
	padding:10px 0px;
	font-size: 14px;
	line-height:18px;
	color: #4A4A4A;
	letter-spacing: 0.87px;
}
.content-info-list li h5{
	float:left;
}
.content-info-list li span{
	float:right;
}
.icon-box{
	position: absolute;
    left: 11px;
    top: 9px;
    font-size: 38px;
    color: #4A4A4A;
    line-height: normal;
    font-weight: normal;
}
.account-unit{
	font-size:20px;
}
.account-unit2{
	font-size:14px;
}
.hiddendiv{
	display:none;
}
