@CHARSET "UTF-8";
.withdraw-form{
	margin-top: 10px;
	padding-top: 40px;
	padding-left: 100px;
	padding-bottom:20px;
	font-size: 16px;
	background: #FFF;
}

.withdraw-form .form-input{
	background: #f0f3f5;
	border: 1px solid #ddd;
	padding: 0 5px;
	width: 245px;
	height: 38px;
	line-height: 38px;
}
.withdraw-form .form-input + p,.withdraw-form .form-text + p,.withdraw-form .btn-sendvcode + p{
	width: 400px;
	height: 20px;
	font-size: 14px;
	color: #666;
}
.withdraw-form .form-input + p i{
	float: right;
	font-style: normal;
	color: #F00;
}
.withdraw-form .form-label{
	margin-left: -330px;
	width: 320px;
	height: 40px;
	line-height: 40px;
}
.withdraw-form .form-text{
	height: 40px;
	line-height: 40px;	
}
.withdraw-form .form-submit{
	background: #0e8bec;
	width: 240px;
	height: 36px;
	line-height: 34px;
	color: #FFF;
	font-size: 18px;
	border: none;
	border-radius: 3px;
}

/*.withdraw-list{
	margin-top: 20px;
}
.withdraw-list-title h5{
	height:30px;
	line-height: 30px;
	font-size: 16px;
	color: #0e8bec;
}
.withdraw-list .table-thead{
	background: #ebebeb;
	border: 1px solid #ddd;
	height: 26px;
	line-height: 26px;
}*/

/*.withdraw-list .table-tbody{
	border: 1px solid #ddd;
	border-top: none;
	line-height: 26px;
}
.withdraw-list .table-td{
	line-height: 26px;
}
*/
.btn-sendvcode{
	background: #f0f3f5;
	border: 1px solid #b3b3b3;
	padding: 11px 10px;
	font-size: 14px;
	
}

.withdraw-list{
	margin-top: 20px;
}
.withdraw-list-title h5{
	height:24px;
	line-height: 24px;
	font-size: 16px;
	color: #333;
	border-bottom: #333 solid 1px;
}
.withdraw-list-summary{
	font-size: 14px;
	line-height: 30px;
	text-align: right;
}
.withdraw-list-summary span{ padding: 0 10px;}
.withdraw-list-content{
	margin-top: 10px;
}
.withdraw-list .table-thead{
	background: #636D7C;
	height: 54px;
	font-size: 14px;
	line-height: 54px;
	color: #FFF;
	border-radius: 5px 5px 0 0;
}
.withdraw-tr-time{
	width: 19%;
}
.withdraw-tr-amount{
	width: 10%;
}
.withdraw-tr-fee{
	width: 10%;
}
.withdraw-tr-address{
	width: 35%;
}
.withdraw-tr-status{
	width: 10%;
}
.withdraw-tr-desc{
	width: 15%;
}
.table-tbody .withdraw-tr-time,.table-tbody .withdraw-tr-amount,.table-tbody .withdraw-tr-fee,.table-tbody .withdraw-tr-address,.table-tbody .withdraw-tr-status{
	border-right: #EEE solid 1px;
}
.table-tbody .table-td{
	border-top: #BBBFC5 solid 1px;
}
.withdraw-list .table-tbody{
	border: 1px solid #ddd;
	border-top: none;
	line-height: 44px;
	background: #DDD;
	font-size: 14px;
	border-radius: 0 0 5px 5px;
}
.withdraw-list .table-td{
	line-height: 44px;
}

/*用户体现MG BTC出账提醒 弹窗样式*/
.con-box h4{
	font-size:16px;
	font-weight: bold;
    padding: 20px 0 10px;
}
.con-check{
	text-align:left;
    font-size: 12px;
    margin-bottom:8px;
}
.con-check label{
	margin-right: 5px;
    position: relative;
}
.con-form{
	display:none;
	float:left;
	margin-bottom:10px;
}
.only-number{
	display:block;
	float:left;
	width:240px;
	height:38px;
	padding-left:10px;
	border: 1px solid #A3A3A3;
	font-size:12px;
	outline:none;
}
.con-note{
	display:none;
	clear:both;
	text-align:left;
	color:red;
	font-size:12px;
}
.received-email-btn{
	margin-left:20px;
	font-size:12px;
}
.received-email-btn input{
	margin-right:3px;
}
.form-note{
	display:none;
}
#received-email{
	font-size:12px;
}
.judge-note em{
	display:inline-block;
	width:12px;
	height:12px;
	line-height:12px;
	text-align:center;
	margin-right:3px;
	background:red;
	color:#fff;
	border-radius:10px;
}
.withdraw-form .form-input + .judge-note{
	display:none;
	font-size:12px;
	color:red;
}
