@charset 'utf-8';
html,body{
	height: 100%;
	min-height: 100%;
}
.wrap{
	width: 100%;
	padding: 0 0.25rem;
	min-height: 100%;
	background: url(/static/v6/images/mobile/bg.png) no-repeat;
	background-size: cover;
}
.bd-container{
	width: 100%;
}
.login-title{
	margin-top: 0.88rem;
	font-size: 0.36rem;
	color: #008FF9;
	height: 0.5rem;
	line-height: 0.5rem;
}
.line{
	height: 0.02rem;
	width: 0.9rem;
	background-color: #008FF9;
}

.lable-text{
	font-size: 0.32rem;
	color: #4E4F51;
	height: 0.45rem;
	line-height: 0.45rem;
	margin-bottom: 0.1rem;
}
.warning{
	margin-top: 0.63rem;
	width: 100%;
	height: 0.33rem;
	line-height: 0.33rem;
	font-size: 0.24rem;
	color: #666;
	text-align: left;
}
.username{
	margin-top: 0.28rem;
}

.vcode{
	margin-top: 0.05rem;
}
.inputbox{
	border: solid 0.01rem #BDBDBD;
	-webkit-border-radius:0.04rem;
	border-radius: 0.04rem;
	background-color: #fff;
	height: 0.8rem;
	position: relative;
	vertical-align: middle;
}
.country-code{
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	color: #4E4F51;
	width: 1.36rem;
	font-size: 0.28rem;
	z-index: 1;
	height: 0.4rem;
	line-height: 0.4rem;
	margin: 0.2rem 0.12rem 0.2rem 0.22rem;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	border: none;
	padding: 0;
	background-color: #fff;
}
.icon-down{
	display: inline-block;
	width: 0.2rem;
	height: 0.12rem;
	line-height: 0.4rem;
	background: url(/static/v6/images/mobile/icon_down.png) no-repeat;
	background-size: 100% 100%;
	margin-left: -0.2rem;
}
.trip{
	font-size: 0.24rem;
	height: 0.33rem;
	line-height: 0.33rem;
	color: #ff3131;
}
.only-number{
	padding-left: 0.1rem;
	width: 4.5rem;
	outline: none;
	border:0;
}
.oneline{
	display: inline-block;
	width: 0.01rem;
	height: 0.4rem;
	background-color: #a9a9a9;
	margin-bottom: -0.1rem;
}
.icon-phone{
	width: 0.36rem;
	height: 0.36rem;
	position: absolute;
	top:0.2rem;
	right: 0.2rem;
	background: url(/static/v6/images/mobile/icon_phone.png) no-repeat;
	background-size: 100% 100%;
}

.signup-vcodebox{
	height: 0.8rem;
	width: 100%;
	position: relative;
}
.signup-vcodebox input{
	width: 100%;
	height: 0.8rem;
	padding-left: 0.1rem;
	outline: none;
	border: none;
}
.signup-vcodebox .left{
	float: left;
	width: 60%;
	border: solid 0.01rem #BDBDBD;
	-webkit-border-radius:0.04rem;
	border-radius: 0.04rem;
	background-color: #fff;
}
.signup-vcodebox .right{
	float: right;
	width: 35%;
	text-align: right;
	background-color: #fff;
}
.signup-vcodebox .right img{
}
.btn-login{
	margin:0 auto;
	width: 100%;
	height: 0.9rem;
	margin-top: 0.1rem;

}
.btn-login input{
	border-radius: 0.04rem;
	-webkit-border-radius:0.04rem;
	width: 100%;
	height: 0.9rem;
	background-color: #008ff9;
	size: 0.36rem;
	outline: none;
	border: none;
	color: #fff;
}

.alertTrip{
	margin-top: 0.2rem;
	width: 100%;
	height: 0.5rem;
	text-align: center;
}
.alertTrip span{
	visibility: hidden;
	transition: opacity .5s;
	-webkit-transition:opacity .5s;
	font-size: 0.28rem;
	padding: 0.2rem 0.2rem;
	border-radius: 0.5rem;
	-webkit-border-radius:0.2rem;
	background: #000;
	color: #fff;
}




